.docs {
  &__aside {
    background-color: color(gray-50);
    border-right: 1px solid color(gray-300);

    & > * + * {
      margin-top: 40px;
    }
  }

  &__navbar {
    background-color: color(gray-50);
    border-bottom: 1px solid color(gray-300);
    padding: 16px 40px;
    display: none;

    @include breakpoint(large up)  {
      display: block;
    }
  }

  &__sidebar {
    & > * + * {
      margin-top: 74px;
    }
  }
}
