.docs {
  &__aside {
    position: relative;
    z-index: 0;
    padding-top: 25px;
    padding-bottom: 25px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 100vh;
      height: 100%;
      background-color: color(gray-50);
    }

    & > * + * {
      margin-top: 40px;
    }
  }

  &__body {
    @include breakpoint(large up)  {
      max-width: 824px;
      padding-top: 15px;
      padding-bottom: 70px;
    }

    & > * + * {
      margin-top: 25px;
    }
  }

  &__sidebar {
    padding-top: 19px;
    padding-bottom: 25px;

    & > * + * {
      margin-top: 74px;
    }
  }
}
