.docs {
  &__aside {
    position: relative;
    z-index: 0;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 100vw;
      height: 100%;
      background-color: color(gray-50);
      border-right: 1px solid color(gray-300);
    }

    & > * + * {
      margin-top: 40px;
    }
  }

  &__navbar {
    position: relative;
    z-index: 0;
    padding: 16px 40px;
    display: none;

    @include breakpoint(large up)  {
      display: block;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100vw;
      height: 100%;
      background-color: color(gray-50);
      border-bottom: 1px solid color(gray-300);
    }
  }

  &__sidebar {
    & > * + * {
      margin-top: 74px;
    }
  }
}
