.home {
  &__heading {
    margin-bottom: 10px;  
  }

  &__body {
    & > * + * {
      margin-top: 30px;
    }
  }

  &__markdown {
    & > p {
      margin-top: 5px;
    }

    & > div {
      margin-top: 25px;
    }
  }
}
