.page-404 {
  @include breakpoint(large up) {
    margin-top: 90px;
  }

  &__heading {
    line-height: 38px;

    @include breakpoint(xlarge up) {
      line-height: 56px;
    }

    & + * {
      margin-top: 10px;
    }
  }

  &__numeric-heading {
    color: rgba(color(gray-700), 0.1);
    font-size: 195px;
    font-weight: 900;
  }

  &__numeric-heading__wrapper {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @include breakpoint(xlarge up) {
      display: flex;
    }
  }
}
