.page {
  display: flex;
  padding: 20px;

  @include breakpoint(large up) {
    padding: 40px 40px 80px;
  }

  & > * + * {
    margin-left: 20px;

    @include breakpoint(large up) {
      margin-left: 40px;
    }
  }

  &__body {
    flex: 1;
    max-width: 690px;

    & > * + * {
      margin-top: 32px;
    }
  }

  &__sidebar {
    display: none;
    flex: 0 0 160px;
    max-width: 160px;

    @include breakpoint(xlarge up) {
      display: block;
    }
  }
}
