/// Retrives color value of specifed color from $color-values map.
///
/// @param {String} $name
/// @require {Map} $color-values
/// @return {Color} Color value
///
/// @example scss - example
///   color(gray-700);
@function color($name) {
  @return get($color-values, $name);
}
