<div class="callout panel">
    <div class="panel__inner">
      <div class="flex">
        <div class="flex__column flex__column--12 flex__column--9@xlarge">
          <h4>Get started with Segment</h4>

          <div class="callout__content">
            Segment is the easiest way to integrate your websites & mobile apps data to 250+ analytics and growth tools.
          </div>
        </div>
      </div>

      <div class="callout__form-wrapper flex flex--wrap flex--middle gutter gutter--none gutter--xlarge@xlarge">
        <div class="flex__column flex__column--12 flex__column--9@xlarge">
          <div class="gutter gutter--none gutter--medium@medium flex flex--wrap">
            <form class="callout__form flex__column">
              <input class="callout__input input input--expand" type="email" placeholder="Your work e-mail">
            </form>

            <div class="flex__column flex__column--12 flex__column--shrink@medium">
              <a href="https://segment.com/contact/demo/" class="button button--large button--expand button-fill">Request demo</a>
            </div>
          </div>
        </div>

        <div class="callout__separator flex__column flex__column--12">
          <span>or</span>
        </div>

        <a href="https://app.segment.com/signup" class="callout__link-button flex__column flex__column--12 flex__column--shrink@xlarge">
          Create free account
        </a>
      </div>

      <div class="panel__pattern">
        {% include icons/patterns/dots.svg %}
      </div>
    </div>
  </div>
