<div class="callout">
  <div class="flex">
    <div class="flex__column flex__column--12 flex__column--9@xlarge">
      <h3>Get started with Segment</h3>

      <div class="callout__content">
        Segment is the easiest way to integrate your websites & mobile apps data to over 300 analytics and growth tools.
      </div>
    </div>
  </div>

  <div class="callout__form-wrapper flex flex--wrap flex--middle gutter gutter--none gutter--xlarge@xlarge">
    <div class="flex__column flex__column--12 flex__column--6@xlarge">
      <form class="callout__form gutter gutter--none gutter--medium@medium flex flex--wrap" id="demoForm">
        <div class="flex__column">
          <input class="callout__input input input--expand" id="demoEmailInput" type="email" required placeholder="Your work e-mail">
        </div>
        <div class="flex__column flex__column--12 flex__column--shrink@medium">
          <button class="button button--expand button-fill">Request Demo</button>
        </div>
      </form>
    </div>

    <div class="callout__separator flex__column flex__column--12">
      <span>or</span>
    </div>

    <a href="https://app.segment.com/signup" class="button button-fill button-fill--white callout__link-button flex__column flex__column--12 flex__column--shrink@xlarge">
      Create free account
    </a>
  </div>
</div>