<div class="flex__column flex__column--12 flex__column--12@medium flex flex--end flex--middle" style="margin-top:20px">
  <div class="feedback-box flex flex--queue flex--justify waffle waffle--none waffle--large@medium">
    <!-- <div class="flex__column flex__column--shrink">
      <div class="feedback-box__content"> -->
        <div class="flex__column--center" style="color:#8F95B2; font-size: 12px">Was this summary helpful?</div>

        <div class="flex gutter gutter--large">
          <div class="flex__column flex__column--shrink">
            <button class="gutter gutter--small button-fill--dossier" data-feedback-button-dossier="helpful" data-section="dossier" data-active-class="button-fill--dossier-helpful">
              <span class="button__icon">
                {% include icons/symbols/thumb-up.svg %}
              </span>

            </button>
          </div>

          <div class="flex__column flex__column--shrink">
            <button class="gutter gutter--small button-fill--dossier" data-feedback-button-dossier="unhelpful" data-section="dossier" data-active-class="button-fill--dossier-unhelpful">
              <span class="button__icon">
                {% include icons/symbols/thumb-down.svg %}
              </span>
            </button>
          </div>
        </div>

        <!-- <div class="widget__content" data-feedback-content hidden>
          <p>Thanks for your feedback!</p>

          <p>Can we improve this doc? <a href="#" data-feedback-button="alternate">Send us feedback!</a></p>
        </div> -->
      <!-- </div>
    </div> -->
  </div>
</div>