<div style="display: none;" data-feedback-template="helpful">
  <div class="feedback-template">
    <textarea
      class="feedback-template__textarea"
      name="name"
      placeholder="Great! What did you like?"
      data-feedback-text
    ></textarea>

    <button
      class="button button-fill button-fill--primary"
      data-section="right-bar"
      data-send-button
    >
      Send
    </button>
  </div>
</div>

<div style="display: none;" data-feedback-template="unhelpful">
  <div class="feedback-template">
    <textarea
      class="feedback-template__textarea"
      name="name"
      placeholder="Sorry to hear that. What can we do better?"
      data-feedback-text
    ></textarea>

    <button
      class="button button-fill button-fill--primary"
      data-section="right-bar"
      data-send-button
    >
      Send
    </button>
  </div>
</div>

<div style="display: none;" data-feedback-template="alternate">
  <div class="feedback-template">
    <textarea
      class="feedback-template__textarea"
      name="name"
      placeholder="Do you have any suggestions?"
      data-feedback-text
    ></textarea>

    <button
      class="button button-fill button-fill--primary"
      data-section="right-bar"
      data-send-button
    >
      Send
    </button>
  </div>
</div>