<div  class="media-icon media-icon--{{ include.variant }}">
  <a class="media-icon__inner" href="{{ include.href }}">
    <span class="media-icon__icon">
      {% include_relative assets/icons/{{ include.icon }}.svg %}
    </span>
    <h5 class="media-icon__heading">{{ include.title }}</h5>
    <div class="media-icon__content">
      {{ include.content }}

      {% if include.variant == 'large' %}
        <span class="media-icon__excerpt">
          {{ include.excerpt }}
        </span>
      {% endif %}
    </div>
    {% if include.variant == 'large' %}
      <div class="media-icon__anchor">
        {% include_relative assets/icons/anchor.svg %}
      </div>
    {% endif %}
  </a>
</div>
