<div class="media-icon">
  <a class="media-icon__inner" {% unless include.newtab == 'false' %}target="_blank"{% endunless %} href="{% if include.variant == 'related' %}/docs{{ include.href }}{% else %}{{ include.href }}{% endif %}">
    <span class="media-icon__icon">
      {% if include.icon %}
        {% include icons/{{ include.icon }} %}
      {% endif %}
    </span>

    <h5 class="media-icon__heading">{{ include.title }}</h5>

    <div class="media-icon__content">
      <span>{{ include.content }}</span>

      {% if include.variant == 'related' %}
        <span class="media-icon__related button-link">Read more</span>
      {% else %}
        <div class="media-icon__excerpt button-link flex flex--end flex--middle gutter">
          <span>Go to the page</span>

          {% include icons/anchor.svg %}
        </div>
      {% endif %}
    </div>

    {% unless include.newtab == 'false' %}
      <div class="media-icon__anchor">
        {% include icons/anchor.svg %}
      </div>
    {% endunless %}
  </a>
</div>
