<div class="panel">
  <h4>Get started with Segment</h4>
  <div class="panel__content">
    Segment is the easiest way to integrate your websites & mobile apps data to 250+ analytics and growth tools.
  </div>
  <div class="gutter gutter--none gutter--xxlarge@medium flex flex--wrap flex--middle">
    <div class="gutter gutter--none gutter--medium@medium flex flex--wrap">
      <div class="flex">
        <input type="email" class="panel__input input">
      </div>
      <div>
        <button class="button button-fill">Request demo</button>
      </div>
    </div>
    <div class="panel__separator">or</div>
    <a href="#" class="button-link">
      Create free account
    </a>
  </div>
</div>