{% for section in include.sections %}
{% unless section.section_title == false %}
## {{section.section_title}}
{% endunless %}
{{section.section_description}}

<div class="flex flex--wrap waffle waffle--large">
  {% for category in section.section %}
    <div class="flex__column flex__column--12 flex__column--{{section.section_col}}@medium flex">
      {% include components/reference-button.html
        href=category.path
        icon=category.icon
        title=category.name
        description=category.description
        variant="related"
      %}
    </div>
  {% endfor %}
</div>

{% endfor %}
