{% for section in include.sections %}
{% unless section.section_title == false %}
## {{section.section_title}}
{% endunless %}
{{section.section_description}}

<div class="flex flex--wrap waffle waffle--large">
  {% for category in section.section %}
    <div class="flex__column flex__column--{{section.section_col}} flex">
      {% include components/media-thumbnail.html href=category.path icon=category.icon title=category.name content=category.description %}
    </div>
  {% endfor %}
</div>

{% endfor %}
