_site
.sass-cache
.jekyll-metadata
vendor/
.DS_Store
.env
.jekyll-cache
.idea/
*.iml
node_modules/
src/assets/docs.bundle.js
# Make sure to update `analytics` to the full path to your Typewriter client.
