_site
.sass-cache
.jekyll-metadata
vendor/
.DS_Store
.env
.jekyll-cache
.idea/
*.iml
node_modules/
src/assets/docs.bundle.js
yarn-error.log
.yarn/install-state.gz
# Make sure to update `analytics` to the full path to your Typewriter client.
.vscode/spellright.dict

# Local Netlify folder
.netlify

# VS COde stuff
.vscode*

# Beta lists
beta-destinations.csv
beta-sources.csv
