title: Segment
description: ""
baseurl: "/docsv2" # the subpath of your site, e.g. /blog
url: "http://0.0.0.0:4000" # the base hostname & protocol for your site, e.g. http://example.com
source: ./src

exclude:
  - "connections"

# Build settings
markdown: kramdown
highlighter: rouge
defaults:
  - scope:
      path: ""
    values:
      layout: "page"
      hidden: false
      beta: false
      seo-priority: 0.5
      seo-changefreq: weekly
  - scope:
      path: "connections/destinations"
    values:
      integration_type: destination
  - scope:
      path: "connections/sources/catalog"
    values:
      integration_type: source

permalink: /:categories/:title/
plugins:
  - jekyll-sitemap
  - jekyll-redirect-from
  - premonition
