title: Segment
description: ""
baseurl: "/docs" # the subpath of your site, e.g. /blog
url: "https://segment.com" # the base hostname & protocol for your site, e.g. http://example.com
source: ./src


permalink: /:categories/:title/

exclude: ['js', '_site', '*.sketch']
# Build settings
markdown: kramdown
highlighter: rouge
defaults:
  - scope:
      path: ""
    values:
      layout: "page"
      hidden: false
      beta: false
      seo-priority: 0.5
      seo-changefreq: weekly
      hide-feedback: false
  - scope:
      path: "connections/destinations/catalog"
    values:
      integration_type: destination
      layout: destination
  - scope:
      path: "connections/sources/catalog"
    values:
      integration_type: source
      layout: source
  - scope:
      path: "connections/storage/catalog"
    values:
      integration_type: warehouse
      landing: true
      layout: integration

collections:
  release_notes:
    output: false

plugins_dir: ./_plugins
plugins:
  - jekyll-sitemap
  - jekyll-redirect-from
  - premonition
  - jekyll-commonmark
  - jekyll-last-modified-at
  - jekyll-dotenv
algolia:
  application_id: UINQ2M4D9S
  index_name:     segment-docs
  files_to_exclude:
    - _release_notes/*
  nodes_to_index: 'p, table#limit'
