# Global default: all files fall back to the Segment docs team unless overridden by a more specific rule.
* @segmentio/segment-doc-team

# The specific rules in this file still take precedence (for example, /src/protocols).
# However, we've added @segmentio/segment-doc-team to each rule to make sure that
# PRs can be reviewed by ANY member of the team. If the docs team member isn't available,
# GitHub will assign reviewers randomly from the rest of the team.

# CODEOWNERS file itself
CODEOWNERS  @segmentio/segment-doc-team 


# Utility scripts
/scripts @segmentio/segment-doc-team

# Vale Linting
# /vale-styles @segmentio/segment-doc-team
# .vale.ini @segmentio/segment-doc-team


# Content owners should be in the order of PM, TL (team-lead), and EM (in a crisis) for a given team.
# This team will receive review requests automatically when a PR is submitted modifying the files in
# a given directory+subtree, or file type, etc. that matches below.  While Github won't enforce the
# order names are listed in for the PR review, this file can provide insight on who should be contacted
# if anything becomes time sensitive.  Names other than the PM can mostly ignore these review notifications
# but are listed here as backup.


# Libraries owners
/src/connections/catalog/libraries @stayseesong


# Destinations owners
# /src/connections/destinations  @stayseesong=

# Stratconn
## Adobe


## Facebook


## Google


## Salesforce


# Engage
/src/engage/ @pwseg 

# Unify
/src/unify @pwseg 

# Protocols owners
/src/protocols @forstisabella

# Storage owners
/src/connections/storage @forstisabella
