# Global default: all files fall back to the Segment docs team 
# unless overridden by a more specific rule.
* @segmentio/segment-doc-team

# The specific rules in this file still take precedence (for example, /src/protocols).
# However, we've added @segmentio/segment-doc-team to each rule to make sure that
# PRs can be reviewed by ANY member of the team. If the docs team member isn't available,
# GitHub will assign reviewers randomly from the rest of the team.

# CODEOWNERS file itself
CODEOWNERS  @segmentio/segment-doc-team 

# Utility scripts
/scripts @segmentio/segment-doc-team

# Vale Linting
# /vale-styles @segmentio/segment-doc-team
# .vale.ini @segmentio/segment-doc-team

# Content ownership by team member

# Libraries owners
/src/connections/catalog/libraries @stayseesong @segmentio/segment-doc-team

# Destinations owners; owned by the docs team only, 
# so GitHub can assign a reviewer randomly. 
/src/connections/destinations @segmentio/segment-doc-team

# Engage
/src/engage/ @pwseg @segmentio/segment-doc-team

# Unify
/src/unify @pwseg @segmentio/segment-doc-team

# Protocols owners
/src/protocols @forstisabella @segmentio/segment-doc-team

# Storage owners
/src/connections/storage @forstisabella @segmentio/segment-doc-team
