* @segmentio/segment-doc-team
# The default owners for everything in
# the repo. Unless a later match takes precedence.
CODEOWNERS  @segmentio/segment-doc-team 


# Utility scripts
/scripts @segmentio/segment-doc-team

# Vale Linting
# /vale-styles @segmentio/segment-doc-team
# .vale.ini @segmentio/segment-doc-team


# Content owners should be in the order of PM, TL (team-lead), and EM (in a crisis) for a given team.
# This team will receive review requests automatically when a PR is submitted modifying the files in
# a given directory+subtree, or file type, etc. that matches below.  While Github won't enforce the
# order names are listed in for the PR review, this file can provide insight on who should be contacted
# if anything becomes time sensitive.  Names other than the PM can mostly ignore these review notifications
# but are listed here as backup.


# Libraries owners
/src/connections/catalog/libraries @stayseesong @markzegarelli


# Destinations owners
/src/connections/destinations  @stayseesong @markzegarelli

# Stratconn
## Adobe
/src/connections/destinations/catalog/adobe-analytics/ @kdaswani
/src/connections/destinations/catalog/actions-adobe-target-web/ @kdaswani
/src/connections/destinations/catalog/actions-adobe-target-cloud/ @kdaswani
/src/connections/destinations/catalog/marketo-v2/ @kdaswani
/src/connections/destinations/catalog/marketo-static-lists/ @kdaswani

## Facebook
/src/connections/destinations/catalog/facebook-pixel/ @kdaswani
/src/connections/destinations/catalog/actions-facebook-conversions-api/ @kdaswani
/src/connections/destinations/catalog/facebook-app-events/ @kdaswani
/src/connections/destinations/catalog/facebook-offline-conversions/ @kdaswani
/src/connections/destinations/catalog/personas-facebook-custom-audiences/ @kdaswani

## Google
/src/connections/destinations/catalog/firebase/ @kdaswani
/src/connections/destinations/catalog/google-analytics/ @kdaswani
/src/connections/destinations/catalog/actions-google-analytics-4/ @kdaswani
/src/connections/destinations/catalog/google-tag-manager/ @kdaswani
/src/connections/destinations/catalog/actions-google-enhanced-conversions/ @kdaswani
/src/connections/destinations/catalog/doubleclick-floodlight/ @kdaswani
/src/connections/destinations/catalog/google-ads-classic/ @kdaswani
/src/connections/destinations/catalog/google-ads-gtag/ @kdaswani
/src/connections/destinations/catalog/google-cloud-function/ @kdaswani
/src/connections/destinations/catalog/google-cloud-pubsub/ @kdaswani
/src/connections/destinations/catalog/adwords-remarketing-lists/ @kdaswani
/src/connections/destinations/catalog/personas-display-video-360/ @kdaswani

## Salesforce
/src/connections/destinations/catalog/salesforce/ @kdaswani
/src/connections/destinations/catalog/actions-salesforce/ @kdaswani
/src/connections/destinations/catalog/salesforce-marketing-cloud/ @kdaswani
/src/connections/destinations/catalog/pardot/ @kdaswani

# Engage
/src/engage/ @markzegarelli @pwseg @rchinn-segment

# Personas owners 
/src/personas @pwseg @rchinn-segent

# Protocols owners
/src/protocols @forstisabella

# Storage owners
/src/connections/storage @forstisabella