[build]
  # Ignore builds unless [netlify-build] is present in commit message
  # ignore = "git log -1 --pretty=%B | ( ! grep -q '\[netlify\-build\]' )"
  # Ignore if [netlify-ignore] is present
  ignore = "git log -1 --pretty=%B | ( grep -q '\\[netlify\\-ignore\\]' )"

[[redirects]]
  from = "/docs/*"
  to = "/:splat"
  status = 200
  
[[redirects]]
  from = "/docs/assets/docs.bundle.js"
  to = "/assets/docs.bundle.js"
  status = 200

[[plugins]]
