[build]
  command = "jekyll algolia && yarn build"
  # Ignore builds unless [netlify-build] is present in commit message
  # ignore = "git log -1 --pretty=%B | ( ! grep -q '\[netlify\-build\]' )"
  # Ignore if [netlify-ignore] is present

  # Don't build if there are no changes to src/
  ## ignore = "git diff --quiet HEAD^ HEAD src/"

[context.deploy-preview]
  command = "yarn develop"
  ignore = "./scripts/ignore.sh"

[context.branch-deploy]
  command = "jekyll algolia && yarn build"
#  ignore = "./scripts/ignore.sh"

[context.develop]
  command = "yarn develop"

[[redirects]]
  from = "/docs/*"
  to = "/:splat"
  status = 200
  
[[redirects]]
  from = "/docs/assets/docs.bundle.js"
  to = "/assets/docs.bundle.js"
  status = 200

[[plugins]]
  package = "netlify-plugin-jekyll-cache"

	[plugins.inputs]
  	jekyllSource = "/src"


[[headers]]
  # Define which paths this specific [[headers]] block will cover.
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"