.accordion {
  $this: &;

  &__item {
    margin-top: 25px;

    & + & {
      border-top: 1px solid rgba(color(secondary), 0.16);
      margin-top: 0;
    }
  }

  &__heading {
    padding-right: 20px;
    font-size: 15px;
    font-weight: 500;
    color: color(secondary);
    line-height: 1.71;
    position: relative;
    margin: 17px 0;
    cursor: pointer;

    @include breakpoint(medium up)  {
      padding-right: 40px;
    }
  }

  &__body {
    display: none;
    padding-bottom: 20px;

    @include breakpoint(medium up)  {
      padding-right: 45px;
    }

    a {
      text-decoration: underline;
      font-weight: 500;
      display: block;
      margin-top: 7px;
    }
  }

  &__icon {
    width: 10px;
    color: rgba(color(secondary-dark), 0.5);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    @include breakpoint(medium up)  {
      right: 20px;
    }
  }

  &--active {
    #{$this}__icon {
      transform: translateY(-50%) rotate(180deg);
    }

    #{$this}__heading {
      margin-bottom: 12px;
    }

    #{$this}__body {
      display: block;
    }
  }
}
