.back-scrolling {
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: color(gray-600);
  background-color: color(white);
  border: 1px solid color(gray-300);
  border-radius: 4px;
  cursor: pointer;

  @include breakpoint(medium up)  {
    bottom: 32px;
    right: 32px;
  }

  &:hover {
    background-color: color(gray-300);
  }

  &--active {
    opacity: 1;
    visibility: visible;
  }
}
