.button {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 8px 16px;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;

  &:disabled {
    pointer-events: none;
  }

  &:hover {
    text-decoration: none;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    color: color(gray-600);
    
    & > svg {
      max-width: 12px;
      max-height: 12px;
    }
  }

  &--expand {
    width: 100%;
  }
}
