.button-fill {
  background-color: color(primary);
  color: color(white);

  &:hover {
    background-color: color(primary);
    color: color(white);
    box-shadow: 0 4px 8px 0 rgba(82, 189, 149, 0.08);
  }
}
