.button-fill {
  background-color: color(primary);
  color: color(white);

  &:hover,
  &:focus {
    background-color: color(primary-dark);
  }


  &--white {
    background-color: color(white);
    color: color(gray-700);

    &:hover,
    &:focus {
      color: color(gray-800);
      background-color: color(gray-100);
    }
  }

  &--gray {
    color: color(white);
    background-color: color(gray-600);

    &:hover,
    &:focus {
      color: color(white);
      background-color: color(gray-700);
    }
  }

  &--secondary {
    color: color(white);
    background-color: color(secondary);

    &:hover,
    &:focus {
      color: color(white);
      background-color: color(secondary-dark);
    }
  }

  &--info {
    background-color: color(info);

    &:hover,
    &:focus {
      background-color: darken(color(info), 10%);
    }
  }

  &--success {
    background-color: color(success);

    &:hover,
    &:focus {
      background-color: darken(color(success), 10%);
    }
  }


  &--warning {
    background-color: color(warning);

    &:hover,
    &:focus {
      background-color: darken(color(warning), 10%);
    }
  }

  &--error {
    background-color: color(error);

    &:hover,
    &:focus {
      background-color: darken(color(error), 10%);
    }
  }

  &--dossier {
    // background-color: none;
    color: color(gray-500);
    cursor: pointer;

    &:hover,
    &:focus {
      color: darken(color(gray-500), 10%);
    }
    &:disabled {
      pointer-events: none;
    }
  }

  &--dossier-helpful {
    color: color(secondary);
    cursor: default;
    pointer-events: none;
  }

  &--dossier-unhelpful {
    color: color(gray-600);
    cursor: default;
    pointer-events: none;
  }
}
