.button-fill {
  background-color: color(primary);
  color: color(white);

  &:hover {
    background-color: color(primary-dark);
  }

  &--secondary {
    background-color: color(secondary);
    color: color(white);

    &:hover {
      background-color: color(secondary-dark);
    }
  }

  &--white {
    background-color: color(white);
    color: color(gray-700);

    &:hover {
      color: color(gray-800);
      background-color: color(white);
    }
  }

  &--gray {
    background-color: color(gray-300);
    color: color(gray-700);

    &:hover {
      color: color(gray-800);
      background-color: color(gray-400);
    }
  }

  &--info {
    background-color: color(info);
    color: color(white);

    &:hover {
      background-color: darken(color(info), 0.1);
    }
  }

  &--success {
    background-color: color(success);
    color: color(white);

    &:hover {
      background-color: darken(color(success), 0.1);
    }
  }

  &--warning {
    background-color: color(warning);
    color: color(white);

    &:hover {
      background-color: darken(color(warning), 0.1);
    }
  }

  &--error {
    background-color: color(error);
    color: color(white);

    &:hover {
      background-color: darken(color(error), 0.1);
    }
  }
}
