.button {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  padding: 8px 12px;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;

  @include breakpoint(medium up) {
    padding: 8px 16px;
  }

  &:disabled {
    pointer-events: none;
  }

  &:hover {
    text-decoration: none;
  }

  &__icon {
    vertical-align: middle;

    &>svg {
      max-width: 12px;
      max-height: 12px;
    }
  }

  &--expand {
    width: 100%;
  }
}

.edit {
  padding: 8px 0px;
  text-align: left;
  color: #8f95b2;
  display: block;
}