.callout {
  position: relative;
  background-color: color(gray-50);
  border-radius: 8px;
  overflow: hidden;

  &__content {
    margin-top: 10px;
    line-height: 1.57;
  }

  &__text {
    font-weight: 500;
  }

  &__input {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid color(gray-100);
    -webkit-appearance: none;

    &::placeholder {
      color: color(gray-700)
    }
  }

  &__separator {
    position: relative;
    display: block;
    text-align: center;
    color: color(gray-700);
    font-size: 14px;

    @include breakpoint(xlarge up) {
      display: none;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      background-color: rgba(color(secondary), 0.16);
      width: 100%;
      height: 1px;
      transform: translateY(-50%);
      z-index: -1;
      content: "";
    }

    span {
      background-color: #f2f4f5;
      padding: 0 15px;
    }
  }

  &__form-wrapper {
    margin-top: 20px;

    & > * + * {
      margin-top: 8px;

      @include breakpoint(medium up) {
        margin-top: 0;
      }
    }
  }

  &__form {        
    @include breakpoint(medium up) {
      margin-bottom: 0;
    }

    & > * + * {
      margin-top: 8px;

      @include breakpoint(medium up) {
        margin-top: 0;
      }
    }
  }

  &__link-button {
    text-align: center;
    line-height: 1.6;
    font-weight: 500;
    width: 100%;
    border-radius: 4px;
    border: solid 1px color(primary);
    padding: 14px 20px;

    @include breakpoint(xlarge up) {
      text-decoration: underline;
      width: auto;
      border: none;
      padding: 0;
    }
  }
}
