.destinations-catalog {
  margin-top: 55px;
  & > * + * {
    margin-top: 55px;
  }

  &__section {
    & > * + * {
      margin-top: 20px;
    }
  }

  &__title {
    font-size: 20px;

    svg {
      width: 24px;
      height: 24px;
      color: color(gray-600);
      margin-right: 8px;
    }
  }
}
