.destination-menu-mobile {
  $this: &;

  position: relative;
  padding: 20px 0 25px 0;
  position: sticky;
  top: 0;
  z-index: 1;

  @include breakpoint(large up) {
    display: none;
  }

  &::before {
    position: absolute;
    top: 0;
    width: calc(100% + 2px);
    height: 100%;
    left: -1px;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 17px, white 100%);
    display: block;
    z-index: -1;
    content: "";
  }

  &__select-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    transform: translateY(-50%);
    margin-right: 0;
    transition: 0.3s transform;
  }

  &__select {
    padding: 8px 15px;
    border: 1px solid color(border-gray);
    border-radius: 4px 4px 0 0;

    &--active {
      #{$this}__select-arrow {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__select-inner {
    position: relative;

    svg {
      margin-right: 8px;
      width: 14px;
    }
  }


  &__list {
    box-shadow: 0 8px 16px 0 rgba(18, 66, 74, 0.08);
    border: solid 1px color(border-gray);
    border-top: 0;
    border-radius: 0 0 4px 4px;
    background-color: color(white);
    overflow-y: scroll;
    max-height: 0;
    transition: 0.3s max-height;

    &--active {
      max-height: 400px;
    }
  }

  &__item {
    svg {
      width: 14px;
      max-height: 14px;
      margin-right: 8px;
    }

    & + & {
      border-top: 1px solid rgba(color(gray), 0.2);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    color: color(secondary-dark);
    font-size: 15px;
    line-height: 1.73;
    transition: 0.3s color, 0.3s font-weight;
    text-decoration: none;
    padding: 5px 15px;

    &--active,
    &:hover,
    &:focus {
      color: color(secondary-dark);
      border: 1px solid color(primary);
      background-color: rgba(color(success), 0.1);
      text-decoration: none;
    }
  }
}
