.field {
  $this: &;

  position: relative;

  &__input {
    display: block;
    vertical-align: middle;
    padding: 6px;

    @include breakpoint(large up)  {
      padding: 12px 20px;
    }
  }

  &--expand {
    #{$this}__input {
      width: 100%;
    }
  }

  &--icon {
    position: relative;
    z-index: 0;

    #{$this}__input {
      padding-left: 40px;
      padding-right: 40px;

      @include breakpoint(large up)  {
        padding-left: 60px;
        padding-right: 60px;
      }
    }

    #{$this}__icon {
      position: absolute;
      top: 0;
      z-index: 1;
      width: 40px;
      height: 100%;
      color: color(gray-700);

      @include breakpoint(large up)  {
        width: 60px;
      }

      &--left {
        left: 0;
      }

      &--right {
        right: 0;
      }
    }

    #{$this}__button {
      color: color(gray-700);
      cursor: pointer;

      @include breakpoint(large up)  {
        display: none;
      }
    }
  }
}
