.input {
  line-height: 1.5;
  font-size: 12px;
  font-family: $font-family-primary;
  border: 1px solid color(gray-400);
  background-color: color(white);
  color: color(gray-800);
  border-radius: 4px;
  -webkit-appearance: none;
  padding: 7px 14px;

  &:focus {
    outline: 0;
    border-color: color(gray-500);
  }

  &::placeholder {
    color: color(gray-700);
  }
}
