.input {
  line-height: inherit;
  font-family: $font-family-primary;
  border: 1px solid color(gray-100);
  background-color: color(white);
  color: color(gray-800);
  border-radius: 4px;

  &:focus {
    outline: 0;
  }

  &::placeholder {
    color: color(gray-700);
  }
}
