.list-steps {
  &__item {
    list-style-type: none;
    position: relative;
  }

  &__number {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: color(primary);
    font-size: 16px;
    font-weight: 500;
    color: color(white);
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title {
    margin-left: 40px;

    @include breakpoint(medium up)  {
      font-size: 20px;
    }
  }

  &__content {
    line-height: 1.73;
    color: color(gray-700);
    margin-top: 10px;

    &--align {
      margin-left: 40px;
      margin-top: 0;
    }
  }
}
