.list-steps {
  display: flex;

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: color(primary-lighter);
    font-weight: 500;
    color: color(primary);
  }

  &__content {
    flex: 1;
    margin-left: 15px;
    font-size: 14px;
    line-height: 20px;
    color: color(gray-700);
  }

  &__heading {
    margin-bottom: 8px;
    color: color(primary);
  }
}
