.markdown {
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    left: -30px;

    &::before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogIDxkZWZzPgogICAgPHBhdGggZD0iTTMuNzUgOWMuMjEgMCAuNC0uMDguNTMtLjIybDQuNS00LjVhLjc1Ljc1IDAgMCAwLTEuMDctMS4wNmwtNC41IDQuNUEuNzUuNzUgMCAwIDAgMy43NSA5aC4wMXptMi44OS0xLjUxTDQuOCA5LjNsLS43NS43NWgtLjAxYy0uMjcuMjctLjY0LjQ1LTEuMDUuNDVBMS41IDEuNSAwIDAgMSAxLjUgOWMwLS40MS4xOC0uNzguNDUtMS4wNXYtLjAxbC43NC0uNzUgMS44My0xLjgzYy0uMjQtLjA4LS41LS4xMi0uNzctLjEyLS44MyAwLTEuNTcuMzQtMi4xLjlsLS4wMi0uMDItLjc1Ljc1LjAxLjAxQy4zNCA3LjQzIDAgOC4xOCAwIDlhMyAzIDAgMCAwIDMgM2MuODMgMCAxLjU3LS4zNSAyLjEtLjlsLjAyLjAyLjc1LS43NS0uMDEtLjAxYTIuOTUgMi45NSAwIDAgMCAuNzgtMi44N3pNMTIgM2EzIDMgMCAwIDAtMy0zYy0uODIgMC0xLjU3LjM0LTIuMS45TDYuODcuODdsLS43NS43NS4wMS4wMWEyLjg2IDIuODYgMCAwIDAtLjc4IDIuODdMNy4yIDIuN2wuNzUtLjc1aC4wMWMuMjctLjI3LjY0LS40NSAxLjA1LS40NS44MiAwIDEuNS42OCAxLjUgMS41IDAgLjQxLS4xOC43OC0uNDUgMS4wNXYuMDFsLS43NC43NS0xLjgzIDEuODRhMi45NSAyLjk1IDAgMCAwIDIuODctLjc4bC4wMi4wMS43NS0uNzUtLjAxLS4wMWMuNTQtLjU0Ljg5LTEuMjguODktMi4xMXoiIGlkPSJhIi8+CiAgPC9kZWZzPgogIDx1c2UgZmlsbD0iI0E1QjBCQSIgZmlsbC1ydWxlPSJub256ZXJvIiB4bGluazpocmVmPSIjYSIvPgo8L3N2Zz4=");
      position: absolute;
      top: 50%;
      left: 5px;
      opacity: 0;
      transform: translateY(-50%);
      pointer-events: none;
      transition: opacity .3s ease;
      cursor: pointer;
    }

    &:hover {
      color: $heading-color;
      text-decoration: none;

      &::before {
        opacity: 1;
      }
    }
  }

  & > h1 {
    @include breakpoint(medium up) {
      margin-top: 32px;
    }
  }

  & > h2 {
    margin-top: 32px;

    @include breakpoint(medium up) {
      margin-top: 48px;
    }
  }

  & > h3 {
    margin-top: 24px;

    @include breakpoint(medium up) {
      margin-top: 48px;
    }
  }

  & > h4 {
    margin-top: 16px;

    @include breakpoint(medium up) {
      margin-top: 24px;
    }
  }

  & > h5 {
    margin-top: 16px;

    @include breakpoint(medium up) {
      margin-top: 24px;
    }
  }

  & > h6 {
    margin-top: 8px;

    @include breakpoint(medium up) {
      margin-top: 16px;
    }
  }

  & > p {
    margin-top: 8px;
    overflow-wrap: break-word;
    line-height: 26px;

    @include breakpoint(medium up) {
      margin-top: 16px;
    }
  }

  pre {
    max-width: 100%;
    overflow-y: auto;
  }

  & > pre {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  & > hr {
    margin-top: 40px;
    margin-bottom: 40px;

    @include breakpoint(medium up) {
      margin-top: 48px;
      margin-bottom: 48px;
    }
  }

  & > div {
    margin-top: 16px;
  }

  img {
    max-width: 100%;
    margin-top: 18px;
    margin-bottom: 18px;

    @include breakpoint(medium up) {
      border: 1px solid #ddd;
      display: block;
      margin: 24px auto;
      border-radius: 5px;;
    }
  }

  ul, ol {
    padding-left: 25px;
    line-height: 26px;
    list-style-type: none;

    li {
      position: relative;
      margin-top: 8px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }

      & > ul, ol {
        margin-top: 0;
      }
    }
  }

  ul {
    & > li {
      &::before {
        width: 8px;
        height: 8px;
        background-color: color(gray-600);
        border-radius: 50%;
        transform: translate(-23px, 10px);
      }
    }
  }

  ol {
    counter-reset: list-items;

    & > li {
      counter-increment: list-items;

      &::before {
        content: counter(list-items) ". ";
        color: color(primary);
        font-weight: 500;
        transform: translate(-23px, 0);
      }
    }
  }

  table {
    border-collapse: collapse;
    text-align: left;
    overflow-x: scroll;
    display: block;

    @include breakpoint(medium up) {
      overflow: auto;
      display: table;
    }

    td {
      color: color(secondary-dark);
      vertical-align: top;
      line-height: 26px;
      word-wrap: break-word;

      @include breakpoint(medium up) {
        word-wrap: normal;
      }
    }

    thead {
      font-size: 14px;
      font-weight: 500;
      background-color: color(gray-50);
      border-radius: 4px;
      font-weight: 500;
      line-height: 1.71;
      padding: 12px;
    }

    tbody {
      font-size: 15px;
      line-height: 1.73;
      padding: 12px;
    }

    th, td {
      padding: 5px 10px;

      &:first-of-type {
        padding-left: 5px;
        min-width: 150px;
      }

      &:last-of-type {
        padding-right: 5px;
      }

      @include breakpoint(medium up) {
        padding: 10px 25px;

        &:first-of-type {
          padding-left: 15px;
        }

        &:last-of-type {
          padding-right: 15px;
        }
      }
    }

    th {
      padding-top: 13px;
      padding-bottom: 13px;
    }

    tbody {
      tr {
        border-bottom: 1px solid rgba(color(secondary), 0.1);
      }
    }
  }

  & > table {
    margin-top: 24px;
  }

  & > *:first-child {
    margin-top: 0;
  }

  .underline {
    text-decoration: underline;
  }

  .double {
    @include breakpoint(medium up) {
      display: flex;
      justify-content: space-between;
    }
  }
}
