.markdown {

  &>h1,
  &>h2,
  &>h3,
  &>h4,
  &>h5,
  &>h6 {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    left: -30px;

    &::before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogIDxkZWZzPgogICAgPHBhdGggZD0iTTMuNzUgOWMuMjEgMCAuNC0uMDguNTMtLjIybDQuNS00LjVhLjc1Ljc1IDAgMCAwLTEuMDctMS4wNmwtNC41IDQuNUEuNzUuNzUgMCAwIDAgMy43NSA5aC4wMXptMi44OS0xLjUxTDQuOCA5LjNsLS43NS43NWgtLjAxYy0uMjcuMjctLjY0LjQ1LTEuMDUuNDVBMS41IDEuNSAwIDAgMSAxLjUgOWMwLS40MS4xOC0uNzguNDUtMS4wNXYtLjAxbC43NC0uNzUgMS44My0xLjgzYy0uMjQtLjA4LS41LS4xMi0uNzctLjEyLS44MyAwLTEuNTcuMzQtMi4xLjlsLS4wMi0uMDItLjc1Ljc1LjAxLjAxQy4zNCA3LjQzIDAgOC4xOCAwIDlhMyAzIDAgMCAwIDMgM2MuODMgMCAxLjU3LS4zNSAyLjEtLjlsLjAyLjAyLjc1LS43NS0uMDEtLjAxYTIuOTUgMi45NSAwIDAgMCAuNzgtMi44N3pNMTIgM2EzIDMgMCAwIDAtMy0zYy0uODIgMC0xLjU3LjM0LTIuMS45TDYuODcuODdsLS43NS43NS4wMS4wMWEyLjg2IDIuODYgMCAwIDAtLjc4IDIuODdMNy4yIDIuN2wuNzUtLjc1aC4wMWMuMjctLjI3LjY0LS40NSAxLjA1LS40NS44MiAwIDEuNS42OCAxLjUgMS41IDAgLjQxLS4xOC43OC0uNDUgMS4wNXYuMDFsLS43NC43NS0xLjgzIDEuODRhMi45NSAyLjk1IDAgMCAwIDIuODctLjc4bC4wMi4wMS43NS0uNzUtLjAxLS4wMWMuNTQtLjU0Ljg5LTEuMjguODktMi4xMXoiIGlkPSJhIi8+CiAgPC9kZWZzPgogIDx1c2UgZmlsbD0iI0E1QjBCQSIgZmlsbC1ydWxlPSJub256ZXJvIiB4bGluazpocmVmPSIjYSIvPgo8L3N2Zz4=");
      position: absolute;
      top: 50%;
      left: 5px;
      opacity: 0;
      transform: translateY(-50%);
      pointer-events: none;
      transition: opacity .3s ease;
      cursor: pointer;
    }

    &:hover {
      color: $heading-color;
      text-decoration: none;

      &::before {
        opacity: 1;
      }
    }
  }

  &>h1 {
    @include breakpoint(medium up) {
      margin-top: 32px;
    }
  }

  &>h2 {
    margin-top: 32px;

    @include breakpoint(medium up) {
      margin-top: 48px;
    }
  }

  &>h3 {
    margin-top: 24px;

    @include breakpoint(medium up) {
      margin-top: 48px;
    }
  }

  &>h4 {
    margin-top: 16px;

    @include breakpoint(medium up) {
      margin-top: 24px;
    }
  }

  &>h5 {
    margin-top: 16px;

    @include breakpoint(medium up) {
      margin-top: 24px;
    }
  }

  &>h6 {
    margin-top: 8px;

    @include breakpoint(medium up) {
      margin-top: 16px;
    }
  }

  &>p {
    margin-top: 8px;
    overflow-wrap: break-word;
    line-height: 26px;

    @include breakpoint(medium up) {
      margin-top: 16px;
    }
  }

  pre {
    max-width: 100%;
    overflow-y: auto;
  }

  &>pre {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &>hr {
    margin-top: 40px;
    margin-bottom: 40px;

    @include breakpoint(medium up) {
      margin-top: 48px;
      margin-bottom: 48px;
    }
  }

  &>div {
    margin-top: 16px;
  }

  img {
    max-width: 100%;
    margin-top: 18px;
    margin-bottom: 18px;

    @include breakpoint(medium up) {
      border: 1px solid #ddd;
      display: block;
      margin: 24px auto;
      border-radius: 5px;
      ;
    }
  }

  img.inline {
    border: none;
    margin: 0 auto;
    border-radius: 0px;
    display: inline
  }


  ul,
  ol {
    padding-left: 25px;
    line-height: 26px;
    list-style-type: none;

    li {
      position: relative;
      margin-top: 8px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }
      div.highlighter-rouge {
        margin: 15px auto;
        position: relative;
      }
      table {
        margin: 15px auto;
      }
      &>ul,
      ol {
        margin-top: 0;
      }
    }
  }

  ul {
    &>li {
      &::before {
        width: 8px;
        height: 8px;
        background-color: color(gray-600);
        border-radius: 50%;
        transform: translate(-23px, 10px);
      }
    }
  }

  ol {
    counter-reset: list-items;

    &>li {
      counter-increment: list-items;

      &::before {
        content: counter(list-items) ". ";
        color: color(primary);
        font-weight: 600;
        transform: translate(-23px, 0);
      }
    }
  }

  table {
    border-collapse: collapse;
    text-align: left;
    display: table;

    td {
      color: color(gray-800);
      vertical-align: top;
      line-height: 26px;
      word-wrap: break-word;
      font-size: 12px;
      line-height: 14px;
      padding: 12px;

      @include breakpoint(medium up) {
        word-wrap: normal;
        font-size: 14px;
        line-height: 1.5;
        padding: 24px;
      }
    }

    thead {
      background-color: color(gray-50);
      font-size: 10px;
      text-transform: uppercase;
    }

    th {
      color: color(gray-700);
      font-weight: 600;
      padding: 12px;

      @include breakpoint(medium up) {
        padding: 16px 24px;
      }
    }

    tr {
      border: 1px solid color(gray-300);
    }
  }

  table.settings {
    width: 100%;
    table-layout: fixed;

    th:first-of-type {
      width: 25%;
    }

    // th:nth-of-type(2n) {
    //   width: 15%
    // }

    // th:nth-of-type(3n) {
    //   width: 15%
    // }

    th:nth-of-type(4n) {
      width: 75%
    }

    td.def {
      cursor: pointer;
      line-height: 16px;

      code {
        max-width: 100%;
        word-break: break-all;
      }


    }
  }

  &>table {
    margin-top: 24px;
  }

  &>*:first-child {
    margin-top: 0;
  }

  .underline {
    text-decoration: underline;
  }

  .double {
    @include breakpoint(medium up) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px
    }

    // double is another div in .markdown container and that's why it has 16px margin top
    .reference-button {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

  // remove reference button margins when it's inside the flex component (flex with waffle has its own margins)
  .flex {
    &.waffle {
      .reference-button {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }


}

//a[target="_blank"]:not(.reference-button):after {
  //content: url("/docs/images/external-link-alt-solid.svg");
//  margin-left: 4px;
//}

a.no-icon[target="_blank"]:after {
  content: none
}

tr.no-map td {
  opacity: 0.5;
  display: none;
}

tr.show {
  display: table-row;
}

.settingRow {
  display: none;
}

.table-search {
  width: 100%;
  border: 0px;
  border-bottom: 1px solid rgb(128, 128, 128);
  font-family: "SF Pro Text", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #474d66;
  font-size: 12px;
  height: 30px;
  margin-bottom: 15px;
}

.table-search:focus-visible {
  outline: none
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.button-link {
  padding: 4px 10px;
}

.active {
  background-color: #eee;
}

.cmode {
  background-color: #edeff5;
  font-size: 11px;
  padding: 0px 6px;
  border-radius: 4px;
  height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(71, 77, 102);
  opacity: 0.65;
  white-space: nowrap;
}

.device-web-mode,
.device-mobile-mode {
  background-color: #e6f5ef;
  color: #317159
}

.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1);

  &.show {
    max-height: 100%;
    transition: max-height .5s ease-in-out;
  }

}

div.highlighter-rouge {
  position: relative;

  button {
    color: #adb5bd;
    box-sizing: border-box;
    transition: 0.2s ease-out;
    cursor: pointer;
    user-select: none;
    padding: 8px 10px;
    font-size: 0.8em;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0.15rem;
    width: 40px;
    img {
      width: 16px;
      margin: 0;
      border: none;
      border-radius: 0px;
    }
    img:hover {
      filter: invert(65%) sepia(9%) saturate(784%) hue-rotate(192deg) brightness(91%) contrast(87%);
      transition: 0.2s ease-out;
    }

    img:active {
      filter: invert(65%) sepia(9%) saturate(784%) hue-rotate(192deg) brightness(91%) contrast(87%);
    }
  }

  .green{
    background-color: #BAE5D5;
    content: "copied!";
  }
}

.table-code-snippet {
  max-width: 450px;
}

.required {
  color: black;
  font-weight: bold;
  margin-left: 3px
}
