.media-icon {
  $this: &;

  border: 1px solid color(gray-100);
  background-color: color(white);
  transition: 0.3s box-shadow;
  border-radius: 8px;

  &__inner {
    position: relative;
    padding: 15px;
    width: 100%;
    color: color(secondary-dark);
    display: grid;
    column-gap: 15px;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "icon heading" "content content";

    @include breakpoint(large up) {
      grid-template-columns: auto 1fr auto;
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "icon heading anchor" "icon content anchor";
      padding: 24px;
      padding-bottom: 32px;
    }
  }

  svg {
    color: color(secondary);
    transition: 0.3s fill;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(18, 66, 74, 0.08);

    #{$this}__icon {
      background-color: rgba(color(primary-light), 0.16);
    }

    svg {
      fill: color(primary);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: color(gray-50);
    transition: 0.3s background;
    grid-area: icon;

    @include breakpoint(large up) {
      width: 64px;
      height: 64px;
      align-self: baseline;
    }

    svg {
      width: 32px;
      max-height: 32px;
    }
  }

  a {
    text-decoration: none;
  }

  &__content {
    font-size: 14px;
    color: color(secondary-dark);
    margin-top: 15px;
    grid-area: content;
    line-height: 22px;

    & > * + * {
      margin-top: 10px;
    }

    @include breakpoint(large up) {
      margin-top: 0;
      grid-area: content;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    grid-area: heading;
  }

  &__anchor {
    display: none;
    align-self: center;
    grid-area: anchor;

    @include breakpoint(large up) {
      display: block;
    }

    svg {
      height: 16px;
    }
  }

  &__excerpt {
    font-size: 14px;
    line-height: 1.43;
    color: color(primary);
    text-align: right;

    svg {
      height: 16px;
      color: color(primary);
    }

    @include breakpoint(large up) {
      display: none;
    }
  }

  &__related {
    color: color(primary);

    @include breakpoint(large up) {
      display: none;
    }
  }
}
