.media-icon {
  $this: &;

  border: 1px solid color(border-gray);
  background-color: color(white);
  transition: 0.3s box-shadow;
  border-radius: 8px;

  &__inner {
    position: relative;
    padding: 15px;
    width: 100%;
    color: color(secondary-dark);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "\31  \32 " "\31  \33 " "\34  \34 ";
    column-gap: 15px;

    @include breakpoint(medium up) {
      padding: 24px;
      padding-bottom: 32px;
    }
  }

  svg > * {
    transition: 0.3s fill;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(18, 66, 74, 0.08);

    #{$this}__icon {
      background-color: rgba(color(primary-light), 0.16);
    }

    svg > * {
      fill: color(primary);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: color(gray-light);
    transition: 0.3s background;
    grid-area: \31;

    @include breakpoint(medium up) {
      width: 64px;
      height: 64px;
    }

    svg {
      width: 32px;
      max-height: 32px;
    }
  }

  a {
    text-decoration: none;
  }

  &__content {
    font-size: 14px;
    color: color(secondary-dark);
    padding-top: 15px;
    grid-area: \34;
    line-height: 1.57;

    @include breakpoint(medium up) {
      padding-top: 0;
      grid-area: \33;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    grid-area: \32;
  }

  &__anchor {
    svg {
      display: none;
      height: 16px;

      @include breakpoint(medium up) {
        display: block;
      }
    }

    @include breakpoint(medium up) {
      position: absolute;
      top: 50px;
      right: 25px;
    }
  }

  &__excerpt {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: color(primary);
    text-decoration: underline;

    @include breakpoint(medium up) {
      display: none;
    }
  }

  &--small {
    #{$this}__inner {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include breakpoint(medium up) {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "\31  \32 " "\31  \33 " "\34  \34 ";
      }
    }

    #{$this}__content {
      text-align: center;
      line-height: 1.33;
      padding-top: 10px;
      
      @include breakpoint(medium up) {
        text-align: left;
        padding-top: 0;
      }
    }

    #{$this}__heading {
      line-height: 1.33;
      padding-top: 15px;
      
      @include breakpoint(medium up) {
        text-align: left;
        padding-top: 0;
      }
    }
  }
}
