.menu-item {
  $this: &;

  display: block;

  &--left-aligned {
    padding-left: 25px;
  }

  &__body {
    position: relative;
    list-style-type: none;
    padding-bottom: 3px;
    padding-left: 32px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 25px;
      display: block;
      width: 1px;
      height: 100%;
      background-color: color(gray-300);
    }

    &--nested {
      &::before {
        left: 20px;
      }

      #{$this}__link {
        padding: 9px 12px 9px 6px;
      }
    }
  }

  & > &__body {
    display: none;
  }

  &__chevron {
    color: color(gray-600);
  }

  &__link {
    position: relative;
    width: 100%;
    text-align: left;
    color: color(gray-800);
    font-size: 14px;
    line-height: 1.25;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 20px;

    &:hover {
      color: color(secondary);
      text-decoration: none;
    }

    &--small {
      font-size: 14px;
    }

    &--back {
      font-weight: 600;
      font-size: 12px;
      color: color(gray-700);

      svg {
        width: 10px;
        margin-right: 8px;
        align-self: baseline;
      }
    }

    &--highlight {
      color: color(gray-800);
      font-weight: 600;
      font-size: 14px;
      padding: 12px 16px;
      
      &:hover {
        color: color(gray-800);
        background-color: color(gray-100);
      }
    }

    &--icon {
      #{$this}__icon {
        flex: 0 0 16px;
        color: color(gray-600);
        vertical-align: middle;
        margin-right: 14px;

        svg {
          max-width: 22px;
          max-height: 22px;
        }

        &--small {
          flex: 0 0 12px;
          margin-right: 9px;

          svg {
            max-width: 14px;
            max-height: 14px;
          }
        }

        &--right {
          margin-right: 0;
          margin-left: 12px;
        }
      }
    }

    &--indicator {
      position: relative;
      padding: 9px 15px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -12px;
        height: 100%;
        width: 2px;
        background-color: color(secondary);
      }
    }

    &--indicator-large {
      position: relative;
      padding: 10px 20px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -7px;
        height: 100%;
        width: 2px;
        background-color: color(secondary);
      }
    }
  }

  &--active {
    & > #{$this}__body {
      display: block;
    }

    & > #{$this}__link {
      color: color(secondary);
      font-weight: 500;

      #{$this}__icon {
        color: color(gray-600);
      }

      #{$this}__chevron {
        transform: rotate(180deg);
      }

      &--highlight {
        font-weight: 600;
        
        &::before {
          content: "";
          display: block;
          width: 2px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: color(secondary);
        }
      }
    }

    &#{$this}--gray {
      & > #{$this}__link {
        color: #435A6F;
        font-weight: 500;
      }
    }

    &#{$this}--green {
      & > #{$this}__link {
        color: color(secondary);
        font-weight: 500;
      }
    }
  }

  &--separated {
    margin-top: 45px;
  }

  &--compact {
    & > #{$this}__body {
      padding-left: 25px;

      &::before {
        left: 21px;
      }
    }

    #{$this}__link {
      font-size: 14px;

      &--indicator {
        &::before {
          left: -4px;
        }
      }
    }
  }
}
