.menu-item {
  $this: &;

  display: block;

  &--left-aligned {
    padding-left: 25px;
  }

  &__body {
    position: relative;
    list-style-type: none;
    margin-top: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 32px;

    & > * + * {
      margin-top: 12px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 8px;
      display: block;
      width: 1px;
      height: 100%;
      background-color: color(gray-100);
    }

    &--nested {
      margin-top: 16px;
      padding-left: 18px;
      padding-top: 0;
      padding-bottom: 0;

      & > * + * {
        margin-top: 16px;
      }

      &::before {
        left: 0;
      }
    }
  }

  & > &__body {
    display: none;
  }

  &__link {
    width: 100%;
    text-align: left;
    color: color(gray-800);
    line-height: 1.25;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      color: color(primary);
      text-decoration: none;
    }

    &--small {
      font-size: 14px;
    }

    &--highlight {
      color: color(gray-800);
      font-weight: 500;
    }

    &--icon {
      #{$this}__icon {
        flex: 0 0 16px;
        color: color(gray-700);
        vertical-align: middle;
        margin-right: 18px;

        svg {
          width: 16px;
        }

        &--small {
          flex: 0 0 12px;

          svg {
            width: 12px;
          }
        }

        &--right {
          margin-right: 0;
          margin-left: 12px;
        }
      }
    }

    &--indicator {
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: -8px;
        left: -19px;
        height: calc(100% + 16px);
        width: 2px;
        background-color: color(primary);
      }
    }

    &--indicator-large {
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: -8px;
        left: -25px;
        height: calc(100% + 16px);
        width: 2px;
        background-color: color(primary);
      }
    }
  }

  &__chevron {
    color: color(gray-700);
  }

  &--active {
    & > #{$this}__body {
      display: block;
    }

    & > #{$this}__link {
      color: color(primary);
      font-weight: 500;

      #{$this}__icon {
        color: color(primary);
      }

      #{$this}__chevron {
        transform: rotate(180deg);
      }
    }

    &#{$this}--gray {
      & > #{$this}__link {
        color: #435A6F;
        font-weight: 500;
      }
    }

    &#{$this}--green {
      & > #{$this}__link {
        color: color(primary);
        font-weight: 500;
      }
    }
  }

  &--separated {
    margin-top: 45px;
  }

  &--compact {
    & > #{$this}__body {
      padding-left: 25px;

      &::before {
        left: 0;
      }
    }

    #{$this}__link {
      &--indicator {
        &::before {
          left: -25px;
        }
      }
    }
  }
}
