.menu-side {
  $this: &;

  list-style-type: none;
  padding-left: 0;
  max-height: calc(100vh - 400px);
  overflow-y: auto;

  & > * + * {
    margin-top: 12px;
  }

  &__link {
    display: block;
    font-size: 12px;
    color: color(gray-500);
    line-height: 1.25;

    &:hover {
      text-decoration: none;
      color: color(gray-600);
    }

    &--active {
      font-weight: 500;
      color: color(primary);
    }
  }

  & {
    list-style-type: none;
    padding-left: 0;
  }
}
