.mobile-menu-side {
  font-size: 14px;

  @include breakpoint(large up)  {
    display: none;
  }

  & > * + * {
    margin-top: 5px;
  }

  & > * + div {
    margin-top: 20px;
  }

  &__title {
    font-weight: 500;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;

    & > * + * {
      margin-top: 5px;
    }
  }

  &__link {
    color: rgba(color(gray-800), 0.8);

    &:hover {
      text-decoration: none;
      color: color(gray-800);
    }
  }

  &__divider {
    margin-top: 30px;
  }
}
