.navbar-mobile {
  $this: &;

  padding: 17px 20px;
  background-color: color(white);
  box-shadow: 0 1px 2px 0 rgba(67, 90, 111, 0.08);
  color: color(gray);

  @include breakpoint(large up)  {
    display: none;
  }

  &__search {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: calc(100% - 40px);
    transform: translate(20px, 12px);
    opacity: 0;
    transition: 100ms ease opacity;
  }

  &--active {
    #{$this}__search {
      z-index: 1;
      opacity: 1;
    }
  }
}
