.panel {
  background-color: color(gray-middle);
  padding: 22px 30px 30px;
  border-radius: 8px;

  &__input {
    padding: 12px 20px;
  }

  &__separator {
    display: block;

    @include breakpoint(medium up) {
      display: none;
    }
  }
}
