.panel {
  $this: &;

  position: relative;
  background-color: #f2f4f5;
  border-radius: 8px;
  overflow: hidden;

  &__inner {
    position: relative;
    z-index: 1;
    padding: 22px 15px 30px;

    @include breakpoint(medium up) {
      padding: 22px 30px 30px;
    }
  }

  &__pattern {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 0;
    z-index: -1;

    @include breakpoint(medium up) {
      display: block;
    }
  }

  &--primary {
    background-color: color(primary);
    color: color(white);

    h1, h2, h3, h4, h5, h6 {
      color: color(white);
    }

    a {
      color: color(white);
      font-size: 14px;
    }
  }

  &--mobile {
    @include breakpoint(large up) {
      display: none;
    }

    #{$this}__inner {
      padding: 22px 15px 15px;
    }

    #{$this}__pattern {
      display: block;
    }
  }
}
