.popover {
  $this: &;

  position: relative;

  &__body {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    margin-top: 10px;
    padding: 25px;
    opacity: 0;
    visibility: hidden;
    border: 1px solid color(gray-50);
    border-radius: 4px;
    background: color(white);
    box-shadow: 0 8px 16px 0 rgba(18, 66, 74, 0.08);
    transition: 200ms ease;
  }

  &--active {
    #{$this}__body {
      opacity: 1;
      visibility: visible;
    }
  }
}
