// .quick-info {
//   border: 1px solid #EBF0FF;
//     background: #FAFBFF;
//     border-radius: 8px;
//     padding: 25px;
//   h4 {
//     margin-bottom: 15px;
//     }
//   p:not(:last-of-type) {
//     margin-bottom: 25px;
//   } 
// }


.quick-info {
  float: right;
  border: 1px solid #eee;
  border-radius: 5px;
  max-width: 245px;
  padding: 10px;
  margin-left: 15px;
  background-color: #FAFBFF;
  z-index: 1000;

  table {
    th {
      font-size: 12px;
      font-weight: 600;
      padding: 5px 13px;
      background-color: white;
      text-transform: none;
      color: #474D66;
    }
    td {
      padding: 8px 14px;
      background-color: white;
      border: none;
      font-size: 12px;
    }
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin: 12px 0 8px;
  }
  h3:first-of-type {
    margin-top:0px;
  }
  ul li {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 0px;
  }

  ul li:before{
    width: 5px;
    height: 5px;
    background-color: #8f95b2;
    border-radius: 50%;
    transform: translate(-16px, 7px);
  }

  p {
    font-size: 12px;
  }
  .links {
    margin-top: 15px;
  }
  a {
    display: inline-block;
    img {
      height: 24px;
      margin: 0; 
      border: none;
    }
  }
}

p.released-on {
  font-size: 12px;
  margin-top: 0px;
}