.related-categories {
  &__list {
    & > * + * {
      margin-top: 8px;
    }
  }

  &__item {
    background-color: rgba(color(secondary-light), 0.4);
    border: 1px solid color(secondary-light);
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;

    &:hover {
      background-color: color(secondary-light);
    }
  }

  &__link {
    color: color(secondary-dark);
    padding: 4px 5px;
    display: block;

    &:hover {
      text-decoration: none;
    }
  }
}
