.sidebar {
  & > * + * {
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid color(border-gray);
  }

  &--sticky {
    position: sticky;
    top: 18px;
    left: 0;
  }

  &--dark {
    & > * + * {
      border-top: 1px solid color(border-gray-dark);
    }
  }
}
