.sidebar {
  & > * + * {
    margin-top: 32px;
  }

  & > * + *:last-child {
    padding-top: 32px;
    border-top: 1px solid color(border-gray);
  }

  &--sticky {
    position: sticky;
    top: 32px;
    left: 0;
  }

  &__title {
    font-weight: 500;
    padding-bottom: 10px;
    font-size: 14px;
  }

  &--dark {
    & > * + * {
      border-top: 1px solid color(border-gray-dark);
    }
  }
}
