.sidebar {
  $this: &;

  & > * + * {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid color(gray-100);
  }

  & > * + *:last-child {
    padding-top: 24px;
  }

  &--sticky {
    position: sticky;
    top: 32px;
    left: 0;
    z-index: 1;
  }

  &--scroll {
    max-height: calc(100vh - 100px);

    &__content {
      overflow-y: auto;
      max-height: calc(100vh - 100px);
    }

    ::-webkit-scrollbar {
      width: 5px;
      height: 13px;
    }

    ::-webkit-scrollbar-track {
      border-radius: 4px;
      box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
    }
  }

  &__title {
    font-weight: 500;
    padding-bottom: 10px;
    font-size: 14px;
  }

  &--dark {
    &__content {
      & > * + * {
        border-top: 1px solid color(gray-100);
      }
    }
  }
}
