.skiplink {
  position: absolute;
  left: -1000px;
  top: auto;
  height: 1px;
  width: 1px;
  overflow: hidden;
  display: block;
  z-index: -999;
}
.skiplink:focus {
  background: color(primary);
  padding: 2px;
  color: color(secondary);
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
}