.stage {
  display: flex;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  &__aside {
    flex: 0 0 240px;
    max-width: 240px;
    padding-right: 26px;
  }

  &__body {
    flex: 1;
    max-width: 100%;
    padding-left: 72px;
    padding-right: 72px;
  }

  &__sidebar {
    flex: 0 0 240px;
    max-width: 240px;
    padding-left: 26px;
  }
}
