.thumbnail-integration {
  $this: &;

  position: relative;
  display: block;
  height: 100%;
  max-height: 220px;
  padding: 25px 20px;
  background-color: color(white);
  border: 1px solid #e2e8e9;
  border-radius: 4px;
  text-align: center;
  transition: 200ms ease;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(18,66,74,0.08);
    border: 1px solid color(border-gray);
    text-decoration: none;
  }

  &__content {
    & > * + * {
      margin-top: 15px;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    padding: 10px;
    background-color: #f7f9fa;
    border-radius: 8px;

    @include breakpoint(medium up) {
      width: 100px;
      height: 100px;
    }

    img {
      max-width: 50px;
      max-height: 50px;
      border: none!important;

      @include breakpoint(medium up) {
        max-width: 70px;
        max-height: 70px;
        border: none!important;
      }
    }
  }

  &__label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 8px;
    background-color: #E2E8FF;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #5270F3;
    border-radius: 0 4px 0 4px;
  }
}
