.widget {
  &__heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
  }

  &__content {
    font-size: 14px;
    line-height: 20px;
    color: color(gray-700);

    a {
      text-decoration: underline;
      font-weight: 500;
    }
  }

  & > * + * {
    margin-top: 8px;
  }
}
