@font-face {
  font-family: 'SF Pro Text';
  src: url('fonts/sf-pro/SFProText-Regular.eot');
  src: url('fonts/sf-pro/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/sf-pro/SFProText-Regular.woff2') format('woff2'),
      url('fonts/sf-pro/SFProText-Regular.woff') format('woff'),
      url('fonts/sf-pro/SFProText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('fonts/sf-pro/SFProText-Bold.eot');
  src: url('fonts/sf-pro/SFProText-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/sf-pro/SFProText-Bold.woff2') format('woff2'),
      url('fonts/sf-pro/SFProText-Bold.woff') format('woff'),
      url('fonts/sf-pro/SFProText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('fonts/sf-pro/SFProText-Semibold.eot');
  src: url('fonts/sf-pro/SFProText-Semibold.eot?#iefix') format('embedded-opentype'),
      url('fonts/sf-pro/SFProText-Semibold.woff2') format('woff2'),
      url('fonts/sf-pro/SFProText-Semibold.woff') format('woff'),
      url('fonts/sf-pro/SFProText-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

