@font-face {
  font-family: "SGMT Post Grotesk";
  src: url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Light.eot");
  src: url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Light.woff2") format("woff2"),
    url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Light.woff") format("woff"),
    url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SGMT Post Grotesk";
  src: url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Book.eot");
  src: url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Book.eot?#iefix") format("embedded-opentype"),
    url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Book.woff2") format("woff2"),
    url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Book.woff") format("woff"),
    url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SGMT Post Grotesk";
  src: url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Medium.eot");
  src: url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Medium.woff2") format("woff2"),
    url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Medium.woff") format("woff"),
    url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SGMT Post Grotesk";
  src: url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Bold.eot");
  src: url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Bold.woff2") format("woff2"),
    url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Bold.woff") format("woff"),
    url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SGMT Post Grotesk";
  src: url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Black.eot");
  src: url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Black.eot?#iefix") format("embedded-opentype"),
    url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Black.woff2") format("woff2"),
    url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Black.woff") format("woff"),
    url("fonts/sgmt-post-grotesk/SGMTPostGrotesk-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
