@font-face {
  font-family: 'Twilio Sans Text';
  src: 
    url('fonts/twilio-sans-text/TwilioSansText-Regular.eot') format ('eot'),
    url('fonts/twilio-sans-text/TwilioSansText-Regular.woff2') format('woff2'),
    url('fonts/twilio-sans-text/TwilioSansText-Regular.woff') format('woff'),
    url('fonts/twilio-sans-text/TwilioSansText-Regularltl.eot') format ('eot'),
    url('fonts/twilio-sans-text/TwilioSansText-Regularltl.woff2') format('woff2'),
    url('fonts/twilio-sans-text/TwilioSansText-Regularltl.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Twilio Sans Text';
  src: 
    url('fonts/twilio-sans-text/TwilioSansText-Medium.eot') format ('eot'),
    url('fonts/twilio-sans-text/TwilioSansText-Medium.woff2') format('woff2'),
    url('fonts/twilio-sans-text/TwilioSansText-Medium.woff') format('woff'),
    url('fonts/twilio-sans-text/TwilioSansText-Mediumltl.eot') format ('eot'),
    url('fonts/twilio-sans-text/TwilioSansText-Mediumltl.woff2') format('woff2'),
    url('fonts/twilio-sans-text/TwilioSansText-Mediumltl.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Twilio Sans Text';
  src: 
    url('fonts/twilio-sans-text/TwilioSansText-Heavy.eot') format ('eot'),
    url('fonts/twilio-sans-text/TwilioSansText-Heavy.woff2') format('woff2'),
    url('fonts/twilio-sans-text/TwilioSansText-Heavy.woff') format('woff'),
    url('fonts/twilio-sans-text/TwilioSansText-Heavyltl.eot') format ('eot'),
    url('fonts/twilio-sans-text/TwilioSansText-Heavyltl.woff2') format('woff2'),
    url('fonts/twilio-sans-text/TwilioSansText-Heavyltl.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Twilio Sans Text';
  src: 
    url('fonts/twilio-sans-text/TwilioSansText-Semibold.eot') format ('eot'),
    url('fonts/twilio-sans-text/TwilioSansText-Semibold.woff2') format('woff2'),
    url('fonts/twilio-sans-text/TwilioSansText-Semibold.woff') format('woff'),
    url('fonts/twilio-sans-text/TwilioSansText-Semiboldltl.eot') format ('eot'),
    url('fonts/twilio-sans-text/TwilioSansText-Semiboldltl.woff2') format('woff2'),
    url('fonts/twilio-sans-text/TwilioSansText-Semiboldltl.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}