@font-face {
  font-family: "Twilio Sans Mono";
  src: 
    url("fonts/twilio-sans-mono/TwilioSansMono-Regular.eot") format ("eot"),
    url("fonts/twilio-sans-mono/TwilioSansMono-Regular.woff2") format("woff2"),
    url("fonts/twilio-sans-mono/TwilioSansMono-Regular.woff") format("woff"),
    url("fonts/twilio-sans-mono/TwilioSansMono-Regularltl.eot") format ("eot"),
    url("fonts/twilio-sans-mono/TwilioSansMono-Regularltl.woff2") format("woff2"),
    url("fonts/twilio-sans-mono/TwilioSansMono-Regularltl.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}