
---
title: Gleap (Actions) Destination
---

{% include content/plan-grid.md name="actions" %}

[Gleap](https://gleap.io/?utm_source=segmentio&utm_medium=docs&utm_campaign=partners){:target="_blank”} is a customer feedback platform designed for apps and websites. It offers a suite of tools including visual bug reporting, live chat, AI customer support, public roadmaps, marketing automation, and more, aimed at enhancing customer success and product improvement.


This destination is maintained by Gleap. For any issues with the destination, [contact their Support team](mailto:hello@gleap.io).

> (delete after reading) The section below explains how to enable and configure the destination. Include any configuration steps not captured below. For example, obtaining an API key from your platform and any configuration steps required to connect to the destination.

## Getting started

1. From the Segment web app, click **Catalog**, then click **Destinations**.
2. Find the Destinations Actions item in the left navigation, and click it.
3. Click **Configure Gleap**.
4. Select an existing Source to connect to Gleap (Actions).
5. To use the Gleap destination, obtain an API key by signing up for at [app.gleap.io](https://app.gleap.io).
6. Once registered, navigate to Project > Settings > Security in the Gleap Dashboard.
7. Copy the API key and paste it into the Segment Gleap destination settings.

{% include components/actions-fields.html %}