<div class="sidebar sidebar--dark">
  <nav class="menu">
    <ul class="menu__list list list--unstyle">
      <li class="menu-item menu-item--separated">
        <a href="{{ site.baseurl }}/" class="menu-item__link menu-item__link--small menu-item__link--highlight menu-item__link--icon flex flex--middle">
          <div class="menu-item__icon flex__column">
            {% include icons/menu/icon-back.svg %}
          </div>

          <div class="flex__column">Back to Documentation</div>
        </a>
      </li>
    </ul>
  </nav>

  <nav class="menu">
    <ul class="menu__list list list--unstyle">
      <li class="menu-item menu-item--active">
        <button class="menu-item__link menu-item__link--highlight menu-item__link--icon flex flex--middle" data-ref="accordion[trigger]">
          <span class="menu-item__icon flex__column">
            {% include icons/menu/icon-legal.svg %}
          </span>

          <span class="flex__column">Legal</span>
        </button>

        <ul class="menu-item__body">
          {% for item in site.data.sidenav.legal.sections[0].section %}
            {% assign currentPage = page.path | downcase | replace: "/index.md" "" | replace: ".md" "" %}
            {% assign currentPath = item.path | downcase | replace_first: "/" "" %}

            {% assign currentSectionPage = page.path | downcase | split: "/" %}
            {% assign currentSectionPath = item.slug | downcase %}
            {% capture currentSectionSlug %}{{ currentSectionPage[0] | downcase }}/{{ currentSectionPage[1] | downcase }}{% endcapture %}

            <li class="menu-item menu-item--gray">
              <a class="menu-item__link {% if currentPage == currentPath or currentSectionSlug == currentSectionPath %}menu-item__link--indicator-large{% endif %} flex" href="{{ site.baseurl }}{{ item.path }}/">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
</div>
