{% assign activeState = false %}
{% assign currentSlug = page.url | split: "/" | last %}
{% assign currentIntegration = site.data.catalog.destinations.items | where: "slug", currentSlug | first %}

<div class="sidebar sidebar--dark">
  <div class="sidebar__content">
    <nav class="menu">
      <ul class="menu__list list list--unstyle">
        <li class="menu-item">
          <a href="{{ site.baseurl }}/connections/destinations/catalog/" class="menu-item__link menu-item__link--small menu-item__link--back">
            Back to Connections
          </a>
        </li>
      </ul>
    </nav>
  
    <nav class="menu menu--compact">
      <ul class="list list--unstyle">
        {% assign categories = site.data.catalog.destination_categories.items %}
  
        {% for category in categories %}
          {% assign integrations = site.data.catalog.destinations.items | where: "categories", category.display_name %}
  
          <li class="menu-item menu-item--gray menu-item--compact" data-accordion data-class-active="menu-item--active">
            <button class="menu-item__link flex flex--middle flex--justify gutter gutter--small" data-ref="accordion[trigger]">
              <span class="flex__column">
                {{ category.display_name }}
              </span>
  
              <div class="menu-item__chevron flex__column flex__column--shrink">
                {% include icons/symbols/caret-down.svg %}
              </div>
            </button>
  
            <ul class="menu-item__body" data-ref="accordion[body]">
              {% for integration in integrations %}
                {% if integration.hidden != true %}
                  <li class="menu-item menu-item--compact">
                    <a href="{{ site.baseurl }}/{{ integration.url }}/" class="menu-item__link">
                      {{ integration.display_name }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
