<nav class="menu">
  <ul class="menu__list list list--unstyle">
    <a class="menu-item__link menu-item__link--highlight menu-item__link--icon flex flex--middle" href="{{ site.baseurl }}/">
      <div class="menu-item__icon flex__column">
        {% include icons/home.svg %}
      </div>

      <div class="flex__column">Home</div>
    </a>

    {% for root_section in site.data.sidenav.main.sections %}
      {% include menu/menu-item.html root_section=root_section %}
    {% endfor %}

    <li class="menu-item">
      <a class="menu-item__link menu-item__link--highlight menu-item__link--icon flex flex--middle" href="{{ site.baseurl }}/partners/">
        <div class="menu-item__icon flex__column">
          {% include icons/partners.svg %}
        </div>

        <div class="flex__column">Partners</div>
      </a>
    </li>

    <li class="menu-item">
      <a class="menu-item__link menu-item__link--highlight menu-item__link--icon flex flex--middle" href="{{ site.baseurl }}/glossary/">
        <div class="menu-item__icon flex__column">
          {% include icons/glossary.svg %}
        </div>

        <div class="flex__column">Glossary</div>
      </a>
    </li>
  </ul>
</nav>
