<div class="menu-panels" data-menu-panels data-class-active="menu-panels--active">
  <div class="menu-panels__root sidebar" data-ref="menu-panels[root]">
    {% include menu/menu-primary.html %}

    <nav class="menu">
      <ul class="menu__list list list--unstyle">
        {% for root_section in site.data.sidenav.api.sections %}
          {% include menu/menu-item.html root_section=root_section %}
        {% endfor %}

        <li class="menu-item">
          <a class="menu-item__link menu-item__link--highlight menu-item__link--icon flex flex--middle" href="{{ site.baseurl }}/help/">
            <div class="menu-item__icon flex__column">
              {% include icons/help.svg %}
            </div>

            <div class="flex__column">Help</div>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="menu-panels__side">
    <div class="menu-panels__view" data-ref="menu-panels[view]" data-target="{{ site.baseurl }}/connections/destinations/catalog/" data-class-active="menu-panels__view--active">
      <div class="sidebar sidebar--dark">
        <nav class="menu">
          <ul class="menu__list list list--unstyle">
            <li class="menu-item">
              <a href="{{ site.baseurl }}/connections/destinations/catalog/" class="menu-item__link menu-item__link--small menu-item__link--highlight menu-item__link--back" data-ref="menu-panels[back]">
                {% include icons/symbols/arrow-left.svg %}
                <span>Back to Connections</span>
              </a>
            </li>
          </ul>
        </nav>

        <nav class="menu menu--compact">
          <ul class="menu__list list list--unstyle">
            {% assign categories = site.data.catalog.destination_categories.items %}

            {% for category in categories %}
              {% assign integrations = site.data.catalog.destinations.items | where: "categories", category.display_name %}

              <li class="menu-item menu-item--gray menu-item--compact" data-accordion data-class-active="menu-item--active">
                <button class="menu-item__link flex flex--middle flex--justify gutter gutter--small" data-ref="accordion[trigger]">
                  <span class="flex__column">
                    {{ category.display_name }}
                  </span>

                  <div class="menu-item__chevron flex__column flex__column--shrink">
                    {% include icons/symbols/caret-down.svg %}
                  </div>
                </button>

                <ul class="menu-item__body" data-ref="accordion[body]">
                  {% for integration in integrations %}
                    <li class="menu-item menu-item--compact">
                      <a href="{{ site.baseurl }}/{{ integration.url }}/" class="menu-item__link">
                        {{ integration.display_name }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>

    <div class="menu-panels__view" data-ref="menu-panels[view]" data-target="{{ site.baseurl }}/connections/sources/catalog/" data-class-active="menu-panels__view--active">
      <div class="sidebar sidebar--dark">
        <nav class="menu">
          <ul class="menu__list list list--unstyle">
            <li class="menu-item">
              <a href="{{ site.baseurl }}/connections/sources/catalog/" class="menu-item__link menu-item__link--small menu-item__link--highlight menu-item__link--back" data-ref="menu-panels[back]">
                {% include icons/symbols/arrow-left.svg %}
                <span>Back to Connections</span>
              </a>
            </li>
          </ul>
        </nav>

        <nav class="menu menu--compact">
          <ul class="menu__list list list--unstyle">
            {% assign categories = site.data.catalog.source_categories.items %}

            {% for category in categories %}
              {% assign integrations = site.data.catalog.sources.items | where: "categories", category.display_name %}

              <li class="menu-item menu-item--gray menu-item--compact" data-accordion data-class-active="menu-item--active">
                <button class="menu-item__link flex flex--middle flex--justify gutter gutter--small" data-ref="accordion[trigger]">
                  <span class="flex__column">
                    {{ category.display_name }}
                  </span>

                  <div class="menu-item__chevron flex__column flex__column--shrink">
                    {% include icons/symbols/caret-down.svg %}
                  </div>
                </button>

                <ul class="menu-item__body" data-ref="accordion[body]">
                  {% for integration in integrations %}
                    <li class="menu-item menu-item--compact">
                      <a href="{{ site.baseurl }}/{{ integration.url }}/" class="menu-item__link">
                        {{ integration.display_name }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
