<div class="menu-panels" data-menu-panels data-class-active="menu-panels--active">
  <div class="menu-panels__root sidebar" data-ref="menu-panels[root]">
    {% include menu/menu-primary.html %}

    <nav class="menu">
      <ul class="menu__list list list--unstyle">
        {% for root_section in site.data.sidenav.api.sections %}
          {% include menu/menu-item.html root_section=root_section %}
        {% endfor %}

        <li class="menu-item">
          <a class="menu-item__link menu-item__link--highlight menu-item__link--icon flex flex--middle" href="{{ site.baseurl }}/help/">
            <div class="menu-item__icon flex__column">
              {% include icons/help.svg %}
            </div>

            <div class="flex__column">Help</div>
          </a>
        </li>

        <!-- <li class="menu-item">
          <a class="menu-item__link menu-item__link--highlight menu-item__link--icon flex flex--middle" href="{{ site.baseurl }}/release-notes/">
            <div class="menu-item__icon flex__column">
              {% include icons/megaphone.svg %}
            </div>

            <div class="flex__column">Release Notes</div>
          </a>
        </li> -->
      </ul>
    </nav>
  </div>
</div>
