<div id="sidenav">
  <nav class="l-sidenav-wrapper">
    {% assign app_sources = site.data.catalog.sources.sources %}
    {% assign cloud_sources = site.data.catalog.cloud_sources.sources %}
    {% assign sources = app_sources | concat: cloud_sources | uniq: 'display_name' %}
    {% assign destinations = site.data.catalog.destinations.destinations %}
    {% assign warehouses = site.data.catalog.warehouses.warehouses %}

    {% comment %}
      Logic to determine if we are viewing a resource. Controls sidenav state
    {% endcomment %}
    {% assign resource_name = page.path | replace: "connections", "catalog" | replace: ".md", "" | replace: "/index", "" %}
    {% assign warehouse_name = resource_name | replace: "destinations", "warehouses" %}
    {% assign current_source = sources | where: "name", resource_name | first %}
    {% assign current_destination = destinations | where: "name", resource_name | first %}
    {% assign current_warehouse = warehouses | where: "name", warehouse_name | first %}

    {% if page.url contains "/legal" %}
      {% comment %}
        Legal Sidenav
      {% endcomment %}
      {% include sidenav/legal.html %}
    {% elsif page.url contains "/glossary" %}
      {% comment %}
        Glossary Sidenav
      {% endcomment %}
      {% include sidenav/glossary.html %}
    {% elsif page.url contains "/partners" %}
      {% comment %}
        Partners Sidenav
      {% endcomment %}
      {% include sidenav/partners.html %}
    {% elsif page.url contains "/config-api" or page.url == '/api/' %}
      {% comment %}
        API Reference Sidenav
      {% endcomment %}
      {% include sidenav/api.html %}
    {% elsif page.url contains "/connections/destinations/catalog" or current_destination.name %}
      {% comment %}
        Destinations Catalog Sidenav
      {% endcomment %}
      {% include sidenav/destinations.html %}
    {% elsif page.url contains "/connections/sources/catalog" or current_source.name  %}
      {% comment %}
        Sources Catalog Sidenav
      {% endcomment %}
      {% include sidenav/sources.html %}
    {% elsif page.url contains "/connections/warehouses/catalog" or current_warehouse.name %}
      {% comment %}
        Warehouses Catalog Sidenav
      {% endcomment %}
      {% include sidenav/warehouses.html %}
    {% else %}
      {% comment %}
        Basic Sidenav
      {% endcomment %}
      {% include sidenav/main.html %}
    {% endif %}
  </nav>
</div>
