<ul>
  <li class="section">
    <a href="{{site.baseurl}}/">
      <img src="{{site.baseurl}}/assets/icons/nav/home.svg"></img>
      Home
    </a>
  </li>
  {% for root_section in site.data.sidenav.sections %}
    {% assign title = root_section.section_title %}
    
    {% if title == "Segment-app" %}
      {% assign title = "App" %}
    {% endif %}

    {% assign slug = title | downcase %}
    <li class="section l-sidenav-collapsible js-collapse">
      <div>
        <img src="{{site.baseurl}}/assets/icons/nav/{{ slug }}.svg"></img>
        {{ title }}
      </div>
      <ul class="l-sidenav-subnav">
        {% for item in root_section.section %}
          {% if item.path %}
            <li>
              <a href="{{site.baseurl}}{{ item.path }}">{{ item.title }}</a>
            </li>
          {% endif %}
          {% for subsection in item.section %}
            <li>
              <a href="{{ site.baseurl }}{{ subsection.path }}">{{ subsection.title }}</a>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>