<ul>
  <li class="back">
    <a href="{{site.baseurl}}/connections/destinations">
      <img src="{{site.baseurl}}/assets/icons/nav/chevron-left.svg"></img>
      Back
    </a>
  </li>
  <li class="heading">
    Destinations catalog
  </li>
  {% assign categories = site.data.catalog.destinations.destinations | group_by: "categories.primary" | sort: "name" %}
  {% for category in categories %}
    {% if category.name != "" %}
      <li class="l-sidenav-collapsible l-sidenav-subnav">
        <div class="js-collapse">
          <img class="collapsed" src="{{site.baseurl}}/assets/icons/nav/plus.svg"></img>
          <img class="expanded" src="{{site.baseurl}}/assets/icons/nav/minus.svg"></img>
          {{ category.name }}
        </div>
        <ul class="l-sidenav-subnav">
          {% for destination in category.items %}
            <li>
              <a href="{{site.baseurl}}/{{ destination.name | replace: "catalog", "connections" }}">
                {{destination.display_name}}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
</ul>