<ul class="l-fixed-sidenav-section">
  <li class="back">
    <a href="{{site.baseurl}}/connections/destinations">
      <img src="{{site.baseurl}}/assets/icons/nav/chevron-left.svg"></img>
      Back
    </a>
  </li>
  <li class="heading">
    Destinations catalog
  </li>
  {% assign destinations = site.data.catalog.destinations.destinations %}
  {% for destination in destinations %}
    {% if destination.status contains "PUBLIC" or destination.status contains "BETA" %}
      <li>
          <a href="{{site.baseurl}}/{{ destination.name | replace: "catalog", "connections"}}/">{{ destination.display_name }}</a>
        </li>
    {% endif %}
  {% endfor %}
</ul>