<ul>
  <li class="back">
    <a href="{{site.baseurl}}/connections/warehouses">
      <img src="{{site.baseurl}}/assets/icons/nav/chevron-left.svg"></img>
      Back
    </a>
  </li>
  <li class="heading">
    Warehouses catalog
  </li>
  {% assign warehouses = site.data.catalog.warehouses.warehouses %}

  {% for warehouse in warehouses %}
    {% assign doc_path = warehouse.name | replace: "catalog", "connections" | replace: "warehouses", "destinations" %}

    <li>
      <a  href="{{doc_path | relative_url}}">{{warehouse.display_name}}</a>
    </li>
  {% endfor %}
</ul>