
{% capture log_file %}
site.data.changelogs.{{page.repo}}
{% endcapture %}
{% assign changelog = site.data.changelogs[page.repo] %}

{% for release in changelog.releases limit:1 %}


{% unless release.url == "" %}
<div class="current-version">

<p>Current Version: <a href="{{release.url}}" target="_blank">{{release.version}}</a></p>
<p>Release Date: {{release.date | date: "%b %d, %Y" }}</p>

<div class="links">
<a class="no-icon" href="https://github.com/segmentio/{{page.repo}}" target="_blank"><img src="/docs/images/github.svg" /></a>
<a class="no-icon" href="https://github.com/segmentio/{{page.repo}}/tags.atom" target="_blank"><img src="/docs/images/atom.svg" /></a>
{% if page.repo == 'analytics-android' %}
<a href="https://maven-badges.herokuapp.com/maven-central/com.segment.analytics.android/analytics"><img style="height: 18px;" src="https://maven-badges.herokuapp.com/maven-central/com.segment.analytics.android/analytics/badge.svg" /></a>
{% endif %}
</div>
</div>
{% endunless %}
{% endfor %}