
{% capture log_file %}
site.data.changelogs.{{page.repo}}
{% endcapture %}
{% assign changelog = site.data.changelogs[page.repo] %}

{% for release in changelog.releases limit:1 %}



<div class="current-version">

<p>Current Version: <a href="{{release.url}}" target="_blank">{{release.version}}</a></p>
<p>Release Date: {{release.date | date: "%b %d, %Y" }}</p>
{% endfor %}
<a href="https:///github.com/segmentio/{{page.repo}}" target="_blank"><img style="margin: 0; border: none" src="/docs/images/github.svg" /></a>
</div>

