<!-- in the file we're pulling from the API, "name" corresponds with the path to the yml blob for a specific destination.-->
{% assign thisDestination = page.id %}

{% assign overrideInfo = site.data.catalog.overrides.items % | where: "id", thisDestination | first %}

{% assign destinationInfo = site.data.catalog.destinations.items | where: "id", thisDestination | first %}

{% comment %}There are probably prettier ways to generate a list of links to these methods, but this was good enough for me.{% endcomment %}
{% assign destMethods = "" | split: ", " %}
{% assign methodName = "" | split: " " %}
{% for method in destinationInfo.methods %}
{%if method[1]%}
{% assign methodName = method[0] | split: "_" | first | capitalize%}
{% assign methodUrl = '<a href="/docs/connections/spec/' | append: methodName | downcase%}
{% assign methodUrl = methodUrl | append: '/">' %}
{% assign methodHTML = methodUrl | append: methodName %}
{% assign methodHTML = methodHTML | append: '</a>' %}
{% assign destMethods = destMethods | push: methodHTML %} {%endif%}

{% if page.cmode-override %}
{% assign connectionModes = overrideInfo.connection_modes %}
{% else %}
{% assign connectionModes = destinationInfo.connection_modes %}
{% endif %}



{% if page.name-override %}
{% assign previous_names = overrideInfo.previous_names %}
{% else %}
{% assign previous_names = destinationInfo.previous_names %}
{% endif %}

{% assign components = destinationInfo.components %}
{% endfor %}
{% assign destMethods = destMethods| reverse %}


{% if page.id %}

<div class="quick-info">
  <div class="qi-content">
<h6>Destination Info</h6>
<ul class="qi">
  {% if destMethods.size > 0 %}<li>Accepts {% for method in destMethods%}{% if destMethods.size == 1 %}{{method}} calls.{% else %}{% unless forloop.last == true %}{{method}}, {% endunless %}{% if forloop.last == true%}and {{method}} calls{%endif%}{% endif %}{% endfor %}</li>{% endif %}
  {% if previous_names.size == 1 or components.size == 0 %}
    <li>Refer to it as <strong>{{previous_names | join: '</strong>, or <strong>' }}</strong> in the <a href="/docs/guides/filtering-data/#filtering-with-the-integrations-object">Integrations object</a></li>
  {% else %}
   {% if connectionModes.cloud.web == true or connectionModes.cloud.mobile == true or connectionModes.cloud.server == true %} <li>In Cloud-mode, refer to it as <strong>{{previous_names | join: '</strong>, or <strong>' }}</strong> in the <a href="/docs/guides/filtering-data/#filtering-with-the-integrations-object">Integrations object</a></li>{%endif%}
   {% if connectionModes.device.web == true or connectionModes.device.mobile == true or connectionModes.device.server == true %} <li>In Device-mode, refer to it as <strong>{{previous_names | first}}</strong> in the <a href="/docs/guides/filtering-data/#filtering-with-the-integrations-object">Integrations object</a> </li>{%endif%}
  {% endif %}
  {% if destinationInfo.status == "PUBLIC_BETA" %}<li>This destination is in <span class="release-pill">Beta</span></li>{% endif %}
</ul>
{% if components.size > 0%}
{% unless page.hide-components %}
<h6>Components</h6>
<ul class="components-list">
{%for component in components %}
{% unless component.code contains "/segmentio/" %}
<li><a href="{{component.code}}" target="_blank">{% if component.type == "IOS" %}iOS{%else%}{{component.type | capitalize}}{%endif%}</a></li>
{% else %}
<li>{% if component.type == "IOS" %}iOS{%else%}{{component.type | capitalize}}{%endif%}</li>
{% endunless %}
{% endfor %}
</ul>
{% endunless %}
</div>
{% unless page.hide-cmodes %}
<div class="qi-content">
<h6>Connection Modes <a href="/docs/connections/destinations/#connection-modes"><img src="/docs/images/help.svg"/></a></h6>
<table>
<thead>
  <tr>
    <th>Device-mode</th>
    <th>Cloud-mode</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td> {% if connectionModes.device.web == true %} <img src="/docs/images/supported.svg" /> {% else %}<img src="/docs/images/unsupported.svg" />{% endif %} Web</td>
    <td> {% if connectionModes.cloud.web == true %} <img src="/docs/images/supported.svg" /> {% else %}<img src="/docs/images/unsupported.svg" />{% endif %} Web</td>
  </tr>
  <tr>
    <td>{% if connectionModes.device.mobile == true %} <img src="/docs/images/supported.svg" /> {% else %}<img src="/docs/images/unsupported.svg" />{% endif %} Mobile</td>
    <td>{% if connectionModes.cloud.mobile == true %} <img src="/docs/images/supported.svg" /> {% else %}<img src="/docs/images/unsupported.svg" />{% endif %} Mobile</td>
  </tr>
  <tr>
    <td> <img src="/docs/images/unsupported.svg" /> Server</td>
    <td> {% if connectionModes.cloud.server == true %} <img src="/docs/images/supported.svg" /> {% else %}<img src="/docs/images/unsupported.svg" />{% endif %} Server</td>
  </tr>
</tbody>
</table>
</div>
{% endunless %}
{% endif %}
</div>
{% endif %}