<div class="Navigation">
  <nav class="Navigation-left">
    <h1 class="Navigation-item">
      <a href="/" class="Navigation-logo">
        Segment
      </a>
    </h1>
  </nav>
  <nav class="Navigation-right">
    <nav class="Navigation-LinkList Navigation-item">
      <a href="/contact/">Contact Support</a>
    </nav>
  </nav>
</div>
