<style type="text/css">
    @font-face {
        font-family: 'SF Pro Text';
        src: url('fonts/sf-pro/SFProText-Regular.eot');
        src: url('fonts/sf-pro/SFProText-Regular.eot?#iefix') format('embedded-opentype');
        font-style: normal;
    }
        doc-content.ol{margin:0;padding:0}
        doc-content.table td,table th{padding:0}
        .c9{border-right-style:solid;padding:5pt 5pt 5pt 5pt;border-bottom-color:#000000;border-top-width:1pt;border-right-width:3pt;border-left-color:#000000;vertical-align:top;border-right-color:#000000;border-left-width:3pt;border-top-style:solid;border-left-style:solid;border-bottom-width:3pt;width:468pt;border-top-color:#000000;border-bottom-style:solid}
        .c28{border-right-style:solid;padding:5pt 5pt 5pt 5pt;border-bottom-color:#000000;border-top-width:3pt;border-right-width:3pt;border-left-color:#000000;vertical-align:top;border-right-color:#000000;border-left-width:3pt;border-top-style:solid;border-left-style:solid;border-bottom-width:6pt;width:468pt;border-top-color:#000000;border-bottom-style:solid}
        .c6{border-right-style:solid;padding:5pt 5pt 5pt 5pt;border-bottom-color:#000000;border-top-width:1pt;border-right-width:3pt;border-left-color:#000000;vertical-align:top;border-right-color:#000000;border-left-width:3pt;border-top-style:solid;border-left-style:solid;border-bottom-width:1pt;width:468pt;border-top-color:#000000;border-bottom-style:solid}
        .c26{border-right-style:solid;padding:5pt 5pt 5pt 5pt;border-bottom-color:#000000;border-top-width:6pt;border-right-width:3pt;border-left-color:#000000;vertical-align:top;border-right-color:#000000;border-left-width:3pt;border-top-style:solid;border-left-style:solid;border-bottom-width:1pt;width:468pt;border-top-color:#000000;border-bottom-style:solid}
        .c0{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:12pt;font-family:"SF Pro Text";font-style:normal}
        .c7{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"SF Pro Text";font-style:normal}
        .c8{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:12pt;font-family:"SF Pro Text";font-style:normal}
        .c11{padding-top:0pt;padding-bottom:10pt;line-height:1.0;orphans:2;widows:2;text-align:left;height:11pt}
        .c20{margin-left:216pt;padding-top:0pt;padding-bottom:10pt;line-height:1.0;orphans:2;widows:2;text-align:left}
        .c3{margin-left:13.5pt;padding-top:0pt;padding-bottom:0pt;line-height:1.15;text-align:left}
        .c12{color:#000000;text-decoration:none;vertical-align:baseline;font-style:normal}
        .c10{padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:left}
        .c2{border-spacing:0;border-collapse:collapse;margin-right:auto}
        .c14{padding-top:0pt;padding-bottom:0pt;line-height:1.15;text-align:left}
        .c27{color:#ffffff;text-decoration:none;vertical-align:baseline;font-style:normal}
        .c23{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}
        .c15{font-weight:400;font-size:11pt;font-family:"SF Pro Text"}
        .c25{font-size:25pt;font-family:"SF Pro Text";font-weight:700}
        .c18{orphans:2;widows:2;height:11pt}
        .c21{font-size:10pt;font-family:"SF Pro Text";font-weight:700}
        .c24{font-weight:400;font-size:11pt;font-family:"SF Pro Text"}
        .c13{font-size:12pt;font-family:"SF Pro Text";font-weight:700}
        .c22{font-size:12pt;font-family:"SF Pro Text";font-weight:400}
        .c1{font-size:9pt;font-family:"SF Pro Text";font-weight:400}
        .c17{font-weight:400;font-size:18pt;font-family:"SF Pro Text"}
        .c29{font-weight:400;font-size:10pt;font-family:"SF Pro Text"}
        .c16{font-weight:400;font-size:10pt;font-family:"SF Pro Text"}
        .c19{background-color:#000000}
        .c5{height:63.5pt}.c4{height:0pt}
        .c4{height:0pt}
        doc-content.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"SF Pro Text";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}
        doc-content.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"SF Pro Text";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}
        doc-content.li{color:#000000;font-size:11pt;font-family:"SF Pro Text"}
        doc-content.p{margin:0;color:#000000;font-size:11pt;font-family:"SF Pro Text"}
        doc-content.h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"SF Pro Text";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}
        doc-content.h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"SF Pro Text";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}
        doc-content.h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"SF Pro Text";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}
        doc-content.h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"SF Pro Text";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}
        doc-content.h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"SF Pro Text";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}
        doc-content.h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"SF Pro Text";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}
        .nf-right-align{float:right;width:50%;text-align:right}
        .nf-indent{padding-left:1.5em}
    </style>
  <html>
    <p class="c11"><span class="c7"></span></p><a id="t.454197d3f7d8252a28377abc8231c14367b7f8e7"></a><a id="t.0"></a>
        <table class="c2"><tr class="c5">
            <td class="c28" colspan="1" rowspan="1">
            <p class="c14"><span class="c25">AI Nutrition Facts</span>
                <br />
                <br />
            <span class="c0">Suggested Mappings</span></p>
            </td>
        </tr><tr class="c4">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c10"><span class="c8">Description</span>
                    <br />
                    <br />
                    <span class="c1">Suggested Mappings automates the mapping of a source (ex: data warehouse, event streams, and connections to destination fields, providing you with smart suggestions while allowing you to tweak and perfect each mapping.</span></p>
                </td>
                </tr>
                    <tr class="c4">
                        <td class="c6" colspan="1" rowspan="1"><p class="c10"><span class="c13">Privacy Ladder Level </span>
                            <span class="c0 nf-right-align">1</span></p>
                        </td>
                    </tr>
                    <tr class="c4">
                        <td class="c6" colspan="1" rowspan="1"><p class="c10">
                        <span class="c13">Feature is Optional</span>
                        <span class="c0 nf-right-align" >Yes</span></p>
                        </td>
                </tr><tr class="c4">
                    <td class="c6" colspan="1" rowspan="1"><p class="c10"><span class="c13">Model Type </span>
                        <span class="c12 c15 nf-right-align">Generative </span></p>
                    </td>
                </tr>
                    <tr class="c4">
                        <td class="c6" colspan="1" rowspan="1"><p class="c10"><span class="c13">Base Model </span>
                            <span class="c12 c15 nf-right-align">OpenAI - GPT-3.5</span></p>
                        </td>
                    </tr>
                    <tr class="c4">
                        <td class="c6 c19" colspan="1" rowspan="1"><p class="c10"><span class="c13 c27">Trust Ingredients</span></p>
                        </td>
                    </tr>
                    <tr class="c4">
                        <td class="c6" colspan="1" rowspan="1">
                            <p class="c10"><span class="c13">Base Model Trained with Customer Data</span>
                            <span class="c0 nf-right-align">No</span></p>
                        </td>
                    </tr>
                    <tr class="c4">
                        <td class="c6" colspan="1" rowspan="1"><p class="c10"><span class="c13">Customer Data is Shared with Model Vendor</span>
                            <span class="c0 nf-right-align">Yes</span> </p>
                        </td>
                    </tr>
                    <tr class="c4">
                        <td class="c6" colspan="1" rowspan="1"><p class="c10"><span class="c13">Training Data Anonymized &nbsp; </span>
                            <span class="c0 nf-right-align"> N/A</span></p>
                        </td>
                    </tr>
                    <tr class="c4">
                        <td class="c6" colspan="1" rowspan="1"><p class="c10"><span class="c13">Data Deletion</span>
                            <span class="c0 nf-right-align">Yes</span></p>
                        </td>
                    </tr>
                    <tr class="c4">
                        <td class="c6" colspan="1" rowspan="1"><p class="c14"><span class="c13">Human in the Loop </span>
                            <span class="c0 nf-right-align">Yes</span></p>
                        </td>
                    </tr>
                    <tr class="c4">
                        <td class="c6" colspan="1" rowspan="1"><p class="c10"><span class="c13">Data Retention  </span>
                            <span class="c22 nf-right-align">30 days</span></p>
                        </td>
                    </tr>
                    <tr class="c4">
                        <td class="c6" colspan="1" rowspan="1"><span class="c8">Compliance &nbsp; &nbsp; </span><br />
                            <span class="c13 nf-indent">Logging &amp; Auditing </span>
                                <span class="c0 nf-right-align">No</span><br />
                                <span class="c13 nf-indent">Guardrails</span>
                                    <span class="c0 nf-right-align">Yes</span>
                        </td>
                    </tr>
                    <tr class="c4">
                        <td class="c6" colspan="1" rowspan="1"><p class="c10"><span class="c13">Input/Output Consistency</span>
                            <span class="c0 nf-right-align">No</span></p>
                        </td>
                    </tr>
                    <tr class="c4">
                        <td class="c9" colspan="1" rowspan="1"><p class="c10"><span class="c8">Other Resources</span></p>
                        </td>
                    </tr>
             </table>
        </html>