<div class="premonition warning">
  <div class="fa fa-exclamation-circle"></div>
  <div class="content">
    <p class="header">Warhouses to require allowlisted IP Adresses</p>
    <p>Starting on November 14, 2023 all warehouse customers update their IP allow lists to include the following ranges:</p>
    <ul>
      <li><code class="language-plaintext highlighter-rouge">52.25.130.38/32</code></li>
      <li><code class="language-plaintext highlighter-rouge">34.223.203.0/28</code></li>
    </ul>

    <p>These updates coincide with reliability improvements to Segment's underlying warehouse architecture.</p>


  </div>
</div>
