<div class="DataCollection-Footer">
  <div class="DataCollection-Block DataCollection-Left">
    <p class="DataCollection-Left-Container">© <span id="year"></span>, Segment.io, Inc.</p>
  </div>
  <div class="DataCollection-Block DataCollection-Right">
    <div class="DataCollection-Right-Container">
      <a class="DataCollection-link" href="#" id="open-consent-manager">Website Data Collection Preferences</button>
      <a href="https://segment.com/docs/legal/privacy" class="DataCollection-link">Privacy</a>
      <a href="https://segment.com/docs/legal/terms" class="DataCollection-link">Terms</a>
    </div>
  </div>
</div>
<script>
  var d = new Date().getFullYear();
  document.getElementById("year").innerHTML = d;
</script>
