<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js" integrity="sha512-UOoJElONeUNzQbbKQbjldDf9MwOHqxNz49NNJJ1d90yp+X9edsHyJoAs6O4K19CZGaIdjI5ohK+O2y5lBTW6uQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
  function showMessage(){
      var name = document.getElementById("name").value;
      var email = document.getElementById("email").value;
      var plan = document.getElementById("plan").value;
      var logins = document.getElementById("logins").value;
      var street = document.getElementById("street").value;
      var city = document.getElementById("city").value;
      var state = document.getElementById("state").value;
      var postcode = document.getElementById("postcode").value;
      var country = document.getElementById("country").value;
      var output = `{
  "anonymousId": "507f191e810c19729de860ea",
  "channel": "browser",
  "context": {
    "ip": "8.8.8.8",
    "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.115 Safari/537.36"
  },
  "integrations": {
    "All": false,
    "Mixpanel": true,
    "Salesforce": true
  },
  "messageId": "022bb90c-bbac-11e4-8dfc-aa07a5b093db",
  "receivedAt": "2015-02-23T22:28:55.387Z",
  "sentAt": "2015-02-23T22:28:55.111Z",
  "timestamp": "2015-02-23T22:28:55.111Z",
  "traits": {
    "name": "${name}",
    "email": "${email}",
    "plan": "${plan}",
    "logins": ${logins},
    "address": {
      "street": "${street}",
      "city": "${city}",
      "state": "${state}",
      "postalCode": "${postcode}",
      "country": "${country}"
    }
  },
  "type": "identify",
  "userId": "97980cfea0067",
  "version": "1.1"
}`
    output_container.innerHTML = output
    Prism.highlightElement(output_container)
  }
</script>
<script>
  function showOutput() {
    var show = document.getElementById("output-code");
    if (show.style.display === "block") {
      show.style.display = "none";
    } else {
      show.style.display = "block";
    }
  }
</script>

<div class="sample-code-container">
<div class="form">
  <h4> Sample Identify </h4>
  <label for="name">Name:</label>
  <input type="text" id="name"><br>
  <label for="email">Email:</label>
  <input type="text" id="email"><br>
  <label for="plan">Plan:</label>
  <input type="text" id="plan"><br>
  <label for="logins">Logins:</label>
  <input type="text" id="logins"><br>
  <label for="street">Street:</label>
  <input type="text" id="street"><br>
  <label for="city">City:</label>
  <input type="text" id="city"><br>
  <label for="state">State:</label>
  <input type="text" id="state"><br>
  <label for="postcode">Postal Code:</label>
  <input type="text" id="postcode"><br>
  <label for="country">Country:</label>
  <input type="text" id="country"><br>
  <input type="submit" id="submit" onclick="showMessage(); showOutput()" value="See a sample identify call">
</div>

<div class="output">
<h4>Sample Identify Call</h4>
<pre><code class="language-javascript" id="output_container">Sample output goes here!</code></pre>
</div></div>