h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $secondary;
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
}

h1, .h1 {
  font-size: 32px;
  line-height: 42px;

  @include breakpoint(medium up) {
    font-size: 42px;
    line-height: 48px;
  }
}

h2, .h2 {
  font-size: 26px;
  line-height: 32px;

  @include breakpoint(medium up) {
    font-size: 42px;
    line-height: 32px;
  }
}

h3, .h3 {
  font-size: 22px;
  line-height: 24px;

  @include breakpoint(medium up) {
    font-size: 24px;
    line-height: 32px;
  }
}

h4, .h4 {
  font-size: 20px;
  line-height: 24px;

  @include breakpoint(medium up) {
    font-size: 20px;
    line-height: 24px;
  }
}

h5, .h5 {
  font-size: 18px;
  line-height: 24px;

  @include breakpoint(medium up) {
    font-size: 18px;
    line-height: 24px;
  }
}
