h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $heading-color;
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  line-height: 1.25;
}

h1, .h1 {
  font-size: 26px;

  @include breakpoint(medium up) {
    font-size: 32px;
  }
}

h2, .h2 {
  font-size: 22px;

  @include breakpoint(medium up) {
    font-size: 24px;
  }
}

h3, .h3 {
  font-size: 18px;

  @include breakpoint(medium up) {
    font-size: 20px;
  }
}

h4, .h4 {
  font-size: 16px;
}

h5, .h5 {
  font-size: 14px;
}
