ol {
  list-style-type: none;
  counter-reset: list-items;
  padding-left: 25px;

  li {
    counter-increment: list-items;
    font-size: 15px;
    line-height: 2;
    position: relative;
    
    &::before {
      content: counter(list-items) ". ";
      display: block;
      top: .2em;
      color: color(primary-dark);
      font-weight: 500;
      line-height: 1.71;
      position: absolute;
      left: 0;
      transform: translateX(calc(-100% - 7px));
      font-size: 14px;
    }
  }
}
