table {
  text-align: left;
  
  tr {
    display: grid;
    grid-template-columns: 4fr 2fr 8fr;
    gap: 45px;

    @include breakpoint(medium up) {
      gap: 10px;
    }
  }

  td {
    color: color(secondary-dark);
    word-break: break-all;

    @include breakpoint(medium up) {
      word-break: keep-all;
    }
  }

  thead {
    display: block;
    font-size: 14px;
    font-weight: 500;
    background-color: color(gray);
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.71;
    padding: 12px;
  }

  tbody {
    display: block;
    font-size: 15px;
    line-height: 1.73;
    padding: 12px;
  }
}
