ul {
  list-style-type: none;
  padding-inline-start: 25px;

  li {
    position: relative;
    font-size: 15px;
    color: color(secondary-dark);
    line-height: 2;

    &::before {
      content: "";
      width: 6px;
      height: 6px;
      background-color: color(gray-dark);
      opacity: 0.5;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: .75em;
      left: 0;
      transform: translateX(calc(-100% - 10px));
    }
  }
}
