---
layout: default
---

<div class="docs">
  <div class="stage">
    <div class="docs__aside stage__aside">
      {% include_cached navbar/logo.html %}

      {% include menu/menu.html %}
    </div>

    <main class="docs__body stage__body">
      <div>
        <div class="search">
          {% include_cached navbar/search.html placeholder="Search the Segment documentation..." %}
        </div>

        {% include_cached navbar/navbar-mobile.html %}
      </div>

      <article class="destinations" data-tracking-scroll data-swiftype-name="body" data-swiftype-type="text">
        {% include components/breadcrumbs.html %}
        {%- if page.title -%}
          <h1 id="{{ page.title | slugify }}" class="destinations__heading">
            {{ page.title }}
          </h1>
        {%- endif -%}

        {% unless page.integration_type  %}
          {% include_cached sidebar/{{ page.integration_type }}-menu-mobile.html %}
        {% endunless %}
        <div class="destinations__body" data-headings-anchors>
          {{ content }}
        </div>
      </article>
    </main>

    <div class="docs__sidebar stage__sidebar">
      {% include_cached navbar/nav.html %}

      <div class="sidebar sidebar--sticky sidebar--scroll">
        {% if page.integration_type and page.integration_type != 'warehouse' %}
          {% include sidebar/{{ page.integration_type }}-menu.html %}
        {% endif %}
        {% unless page.hide-feedback %}
          {% include sidebar/feedback.html %}
        {% endunless %}
      </div>
    </div>
  </div>

  <footer>
    {% include_cached components/footer.html %}
  </footer>
</div>
