---
layout: default
---

<div class="docs">
  <div class="stage">
    <div class="docs__aside stage__aside">
      {% include navbar/logo.html %}

      {% include menu/menu.html %}
    </div>

    <main class="docs__body stage__body">
      <div>
        <div class="search">
          {% include navbar/search.html placeholder="Search documentation, ex. protocolos..." %}
        </div>

        {% include navbar/navbar-mobile.html %}
      </div>


      <div class="stage__content">
        <article class="destinations">
          {% include components/breadcrumbs.html %}
          {%- if page.title -%}
            <h1 id="{{ page.title | downcase }}" class="destinations__heading page__heading">
              {{ page.title }}
            </h1>
          {%- endif -%}

          {% include sidebar/{{ page.integration_type }}-menu-mobile.html %}

          <div class="destinations__body" data-headings-anchors>
            {{ content }}
          </div>
        </article>
      </div>
    </main>

    <div class="docs__sidebar stage__sidebar">
      {% include navbar/nav.html %}

      <div class="sidebar sidebar--sticky">
        {% include sidebar/{{ page.integration_type }}-menu.html %}
        {% include sidebar/feedback.html %}
      </div>
    </div>
  </div>

  <footer>
    {% include components/footer.html %}
  </footer>
</div>
