---
layout: main
---

<main class="docs__body stage__body">
  <div class="docs__navbar">
    <div class="flex flex--justify gutter gutter--large@medium">
      <div class="flex__column flex__column--6@xlarge">  
        <div class="search">
          {% include_cached navbar/search.html container="autocomplete" %}
        </div>
      </div>

      <div class="flex__column flex__column--shrink">  
        {% include_cached navbar/nav.html %}
      </div>
    </div>
  </div>

  {% include_cached navbar/navbar-mobile.html %}

  <article class="destinations page" data-tracking-scroll data-swiftype-name="body" data-swiftype-type="text">
    <div class="page__body">
      {% include components/breadcrumbs.html %}
      {%- if page.title -%}
        <h1 id="{{ page.title | slugify }}" class="destinations__heading">
          {{ page.title }}
        </h1>
      {%- endif -%}

      {% unless page.integration_type  %}
        {% include_cached sidebar/{{ page.integration_type }}-menu-mobile.html %}
      {% endunless %}

      <div data-headings-anchors>
        {{ content }}
      </div>
    </div>

    <div class="docs__sidebar page__sidebar">
      <div class="sidebar sidebar--sticky sidebar--scroll">
        {% if page.integration_type and page.integration_type != 'warehouse' %}
          {% include sidebar/{{ page.integration_type }}-menu.html %}
        {% endif %}

        {% unless page.hide-feedback %}
          {% include sidebar/feedback.html %}
        {% endunless %}
      </div>
    </div>
  </article>
</main>
