---
layout: integration
---
<div class="markdown">
{%comment%}
commenting this out for now.
{% if page.beta %}
  {% include content/beta-note.md %}
{% endif %}
{%endcomment%}


{% unless page.hide-dossier == true or page.name != "index.md" %}
  {% capture destination-dossier %}{% include content/destination-dossier.html %}{% endcapture %}
  {{ destination-dossier | markdownify }}
{% endunless %}

  {{ content }}

{% unless page.hide-boilerplate == true %}
  {% capture destination-footer %}{% include content/destination-footer.md  %}{% endcapture %}
  {{ destination-footer | markdownify }}
{% endunless %}

</div>
