---
layout: default
---

<div class="docs">
  <div class="stage">
    <div class="docs__aside stage__aside">
      {% include navbar/logo.html %}

      {% assign currentPage = page.url | downcase | split: "/" %}
      {% if currentPage[1] == 'glossary' %}
        {% include menu/menu-glossary.html %}
      {% elsif currentPage[1] == 'partners' %}
        {% include menu/menu-partners.html %}
      {% elsif currentPage[1] == 'legal' %}
        {% include menu/menu-legal.html %}
      {% else %}
        {% include menu/menu.html %}
      {% endif %}
    </div>

    <main class="docs__body stage__body">
      <div>
        <div class="search">
          {% include navbar/search.html placeholder="Search the Segment documentation..." %}
        </div>

        {% include navbar/navbar-mobile.html %}
      </div>

      <div class="stage__content">
        {{ content }}
      </div>
    </main>

    <div class="docs__sidebar stage__sidebar">
      {% include navbar/nav.html %}

      <div class="sidebar sidebar--sticky">
        {%- unless page.hide_toc -%}
          <div data-anchors-indicator data-sections="h2" data-active-class="menu-side__link--active">
            {% include sidebar/menu-side.html class="menu-side" anchor_class="menu-side__link" html=content h_min=2 h_max=2 %}
          </div>
        {%- endunless -%}

        {% if page.related %}
          {% include sidebar/related-content.html items=page.related %}
        {% endif %}

        {% unless page.hide-feedback %}
          {% include sidebar/feedback.html %}
        {% endunless %}
      </div>
    </div>
  </div>

  <footer>
    {% include components/footer.html %}
  </footer>
</div>
