---
layout: main
---

<main class="docs__body stage__body">
  <div>
    <div class="search">
      {% include_cached navbar/search.html placeholder="Search the Segment documentation..." %}
    </div>
    {% include_cached navbar/navbar-mobile.html %}
  </div>
  <div class="stage__content" data-swiftype-name="body" data-swiftype-type="text">
    <article class="page">
      {% include components/breadcrumbs.html %}
      <div class="page__body">
        {%- if page.title -%}
          <h1 id="{{ page.title | slugify }}">
            {{ page.title }}
          </h1>
        {%- endif -%}
        {%- if page.beta -%}
          {% include content/beta.md %}
        {%- endif -%}
        {%- unless page.hide_toc -%}
          {% include sidebar/mobile-menu-side.html %}
        {%- endunless -%}
        <div class="markdown" data-headings-anchors>
          {{ content }}
        </div>
        <p><i style="color: #a5b0ba;font-size: small;">This page was last modified: {{ page.last_modified_at | date: '%d %b %Y' }} </i></p>
        {% if page.contributors %}
          {% include components/avatar.html contributors=page.contributors %}
        {% endif %}
        {% if page.related %}
          <hr>
          {% include components/related.html items=page.related %}
        {% endif %}
        <hr>
        {% unless page.hide-feedback %}
          {% include components/feedback.html %}
          <hr>
        {% endunless %}
        {% include components/callout.html %}
      </div>
    </article>
  </div>
</main>
<div class="docs__sidebar stage__sidebar">
  {% include_cached navbar/nav.html %}
  <div class="sidebar sidebar--sticky sidebar--scroll">
    {%- unless page.hide_toc -%}
      <div data-anchors-indicator data-sections="h2" data-active-class="menu-side__link--active">
        {% include_cached sidebar/menu-side.html class="menu-side" anchor_class="menu-side__link" html=content h_min=2 h_max=2 %}
      </div>
    {%- endunless -%}
    {% if page.related %}
      {% include sidebar/related-content.html items=page.related %}
    {% endif %}
    {% unless page.hide-feedback %}
      {% include_cached sidebar/feedback.html %}
    {% endunless %}
  </div>
</div>
