<ul>
  <li class="back">
    <a href="{{site.baseurl}}/connections/sources">
      <img src="{{site.baseurl}}/assets/icons/nav/chevron-left.svg"></img>
      Back
    </a>
  </li>
  <li class="heading">
    Sources catalog
  </li>
  {% assign app_sources = site.data.catalog.sources.sources %}
  {% assign cloud_sources = site.data.catalog.cloud_sources.sources %}
  {% assign sources = app_sources | concat: cloud_sources | uniq: 'display_name' | sort: 'display_name' %}

  {% for source in sources %}
    {% assign doc_path = source.name | replace: "catalog", "connections" %}

    <li>
      <a href="{{doc_path | relative_url }}">{{source.display_name}}</a>
    </li>
  {% endfor %}
</ul>