/// Collection of colors.
///
/// @type {Map}
$color-values: (
  primary: #1dc989,
  primary-dark: #1eb57d,
  primary-light: #52bd95,
  secondary: #1f477d,
  secondary-dark: #435a6f,
  gray-light: #f7f9fa,
  gray-lighter: #f2f4f5,
  gray: #a5b0ba,
  gray-dark: #435A6F,
  border-gray: #edf0ed,
  border-gray-dark: #dbe1ea,
  code-gray: #435a6f,
  code-green: #52bd95,
  code-blue: #2e98df,
  code-violet: #9166ca,
  code-pink: #ff678d,
  code-red: #d52039,
  code-orange: #f89c56,
  code-background: #eceef0,
  info: #4286e2,
  success: #1dc989,
  warning: #f89c56,
  error: #e73630,
  black: #000000,
  white: #ffffff
) !default;

/// Collection of breakpoints.
///
/// @type {Map}
$breakpoint-sizes: (
  xsmall: 420px,
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
  xxlarge: 1440px
) !default;

/// Collection of flex sizes by breakpoint.
///
/// @type {Map}
$flex-sizes: (
  xsmall: 420px,
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
  xxlarge: 1440px
) !default;

/// Number of columns per flex.
///
/// @type {Number}
$flex-columns: 12 !default;

/// Collection of gutter sizes.
///
/// @type {Map}
$gutter-sizes: (
  none: 0,
  small: 0.3rem,
  medium: 0.5rem,
  large: 1rem,
  xlarge: 1.5rem,
) !default;

/// Default gutter size.
///
/// @type {Keyword}
$gutter-size: medium !default;

/// Collection of waffle sizes.
///
/// @type {Map}
$waffle-sizes: (
  none: 0,
  small: 0.3rem,
  medium: 0.5rem,
  large: 1rem,
) !default;

/// Default gutter size.
///
/// @type {Keyword}
$waffle-size: medium !default;

/// Offset value between breakpoints ranges.
///
/// @type {Value}
$breakpoint-offset: 1px;

/// Base font size set on the root html element.
///
/// @type {Value}
$font-size: 15px !default;

/// Base font weight set on the root html element.
///
/// @type {Value}
$font-weight: 400 !default;

/// Base line height determines the basic unit of vertical rhythm.
///
/// @type {Number}
$font-line-height: 27px !default;

/// Base font size set on the root html element.
///
/// @type {Color}
$font-color: map-get($color-values, secondary-dark) !default;

/// Default font family.
///
/// @type {Value|Values}
$font-family-primary: "SGMT Post Grotesk", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

/// Monospace font family.
///
/// @type {Value|Values}
$font-family-monospace: "Droid Sans Mono", "Lucida Console", "Monaco", monospace !default;

/// Font weight of headings.
///
/// @type {Number|Keyword}
$heading-font-weight: 500 !default;

/// Font family of headings.
///
/// @type {Keyword|Values}
$heading-font-family: 'SGMT Post Grotesk' !default;

/// Color of headings.
///
/// @type {Color}
$heading-color: map-get($color-values, secondary) !default;
