/// Collection of colors.
///
/// @type {Map}
/// @prop {Color} primary
/// @prop {Color} primary-dark
/// @prop {Color} secondary
/// @prop {Color} secondary-dark
/// @prop {Color} thirdary
/// @prop {Color} thirdary-dark
/// @prop {Color} code-primary
/// @prop {Color} code-primary
/// @prop {Color} code-secondary
/// @prop {Color} code-thirdary
/// @prop {Color} code-quaternary
/// @prop {Color} code-senary
/// @prop {Color} code-septenary
/// @prop {Color} code-octonary
/// @prop {Color} info
/// @prop {Color} success
/// @prop {Color} warning
/// @prop {Color} error
/// @prop {Color} black
/// @prop {Color} white
$color-values: (
  primary: #1dc989,
  primary-dark: #1eb57d,
  secondary: #1f477d,
  secondary-dark: #435a6f,
  thirdary: #f7f9fa,
  thirtdary-dark: #a5b0ba,
  code-primary: #435A6F,
  code-secondary: #52BD95,
  code-thirdary: #52BD95,
  code-quaternary: #2E98DF,
  code-quinary: #9166CA,
  code-senary: #F89C56,
  code-septenary: #D52039,
  code-octonary: #F89C56,
  info: #4286E2,
  success: #1DC989,
  warning: #F89C56,
  error: #E73630,
  black: #000000,
  white: #ffffff
) !default;