{% assign destination_categories = site.data.catalog.destinations.destinations | group_by:"categories.primary" | sort: "name" %}

<div class="destination-menu" data-anchors-indicator data-sections=".destinations-catalog__section" data-active-class="destination-menu__link--active">
  <ul class="destination-menu__list list list--unstyle">
    {% for category in destination_categories %}
      {% assign category_name_size = category.name | size %}
      {% if category_name_size != 0 %}
        {% assign category_icon = category.name | slugify %}
        <li class="destination-menu__item">
          <a class="destination-menu__link flex" href="#{{ category.name | slugify }}" title="{{ category.name }}">
            {% include icons/destinations-catalog/{{ category_icon }}.svg %}
            {{ category.name }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>