{% assign categories = site.data.catalog.destination_categories.items | sort:"display_name" %}

<div class="destination-menu" data-anchors-indicator data-sections=".destinations-catalog__section" data-active-class="destination-menu__link--active">
  <p class="destination-menu__title">On this page</p>
  <ul class="destination-menu__list list list--unstyle">
    {% for category in categories %}
      {% assign category_icon = category.slug | slugify %}
      <li class="destination-menu__item">
        <a class="destination-menu__link flex" href="#{{ category.display_name | slugify }}" title="{{ category.display_name }}">
          {{ category.display_name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
