{% if site.os_links %}
<div>
  <a href="{{site.env.REPOSITORY_URL}}/edit/master/src/{{ page.path }}" class="button edit flex no-icon" target="_blank">
    <span class="button__icon">{% include icons/symbols/edit.svg %}</span>

    <span class="button__text">Edit this page</span>
  </a>

  <a href="{{site.env.REPOSITORY_URL}}/issues/new/choose?body=File:%20[{{ page.path }}](https://segment.com/docs/)" class="button edit no-icon"  target="_blank">
    <span class="button__icon">{% include icons/symbols/plus.svg %}</span>

    <span class="button__text">Request docs change</span>
  </a>
</div>
{% endif %}