<div class="widget" data-feedback>
  <p class="widget__heading">Was this page helpful?</p>

  <div class="flex">
    <div class="flex__column flex__column--6">
      <button class="feedback-box__button button button-fill button-fill--white gutter gutter--small" data-section="right-bar" data-feedback-button="helpful" data-active-class="button-fill--secondary">
        <span class="button__icon">
          {% include icons/symbols/thumb-up.svg %}
        </span>

        <span>Yes</span>
      </button>
    </div>

    <div class="flex__column flex__column--6">
      <button class="feedback-box__button button button-fill button-fill--white gutter gutter--small" data-section="right-nav" data-feedback-button="unhelpful" data-active-class="button-fill--gray">
        <span class="button__icon">
          {% include icons/symbols/thumb-down.svg %}
        </span>

        <span>No</span>
      </button>
    </div>
  </div>

  <div class="widget__content" data-feedback-content hidden>
    <p>Thanks for your feedback!</p>

    <p>Can we improve<br> this doc? <br><a href="#" data-feedback-button="alternate">Send us feedback!</a></p>
  </div>

  <div style="display: none;" data-feedback-template="helpful">
    <div class="feedback-template">
      <textarea
        class="feedback-template__textarea"
        name="name"
        placeholder="Great! What did you like?"
        data-feedback-text
      ></textarea>

      <button
        class="button button-fill button-fill--primary"
        data-section="right-bar"
        data-send-button
      >
        Send
      </button>
    </div>
  </div>

  <div style="display: none;" data-feedback-template="unhelpful">
    <div class="feedback-template">
      <textarea
        class="feedback-template__textarea"
        name="name"
        placeholder="Sorry to hear that. What can we do better?"
        data-feedback-text
      ></textarea>

      <button
        class="button button-fill button-fill--primary"
        data-section="right-bar"
        data-send-button
      >
        Send
      </button>
    </div>
  </div>

  <div style="display: none;" data-feedback-template="alternate">
    <div class="feedback-template">
      <textarea
        class="feedback-template__textarea"
        name="name"
        placeholder="Do you have any suggestions?"
        data-feedback-text
      ></textarea>

      <button
        class="button button-fill button-fill--primary"
        data-section="right-bar"
        data-send-button
      >
        Send
      </button>
    </div>
  </div>
</div>
