<div class="widget" data-feedback>
  <p class="widget__heading">Was this page helpful?</p>

  <div class="flex">
    <div class="flex__column flex__column--6">
      <button class="button button--small button-fill button-fill--white" data-ref="feedback[helpful]" data-active-class="button-fill--primary">
        <span class="button__icon">
          {% include icons/symbols/thumb-up.svg %}
        </span>

        <span>Yes</span>
      </button>
    </div>

    <div class="flex__column flex__column--6">
      <button class="button button--small button-fill button-fill--white" data-ref="feedback[unhelpful]" data-active-class="button-fill--gray">
        <span class="button__icon">
          {% include icons/symbols/thumb-down.svg %}
        </span>

        <span>No</span>
      </button>
    </div>
  </div>
  <p class="widget__content" data-ref="feedback[content]" hidden>
    If you need help or have any questions, please consider contacting <a href="#">Support</a>.
  </p>
</div>
