{% assign destination_categories = "Website, Mobile, Server, A/B Testing, Advertising, Analytics, Attribution, CRM, Custom, Customer Success, Email Marketing, Enrichment, Feature Flagging, Helpdesk, Learning Management System, Livechat, Marketing Automation, Ott, Payments, Performance Monitoring, Personalization, Raw Data, Referrals, SMS & Push Notifications, Surveys, Virtual Assistant" | split: ", " %}

<div class="destination-menu" data-anchors-indicator data-sections=".destinations-catalog__section" data-active-class="destination-menu__link--active">
  <p class="destination-menu__title">On this page</p>

  <ul class="destination-menu__list list list--unstyle">
    {% for category in destination_categories %}
      <li class="destination-menu__item">
        <a class="destination-menu__link flex" href="#{{ category | slugify }}" title="{{ category.display_name }}">
          {{ category }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
