{% assign destination_categories = "Website, Mobile, Server, Ott, Cloud apps" | split: ", " %}

<div class="destination-menu-mobile" data-dropdown-menu data-anchors-indicator data-sections=".destinations-catalog__section" data-active-class="destination-menu-mobile__item--active">
  <div class="destination-menu-mobile__select" data-ref="dropdown-menu[head]" data-active-class="destination-menu-mobile__select--active">
    <div class="destination-menu-mobile__select-inner">
      <span data-ref="dropdown-menu[head-inner]">
        Choose category
      </span>

      <svg viewBox="0 0 8 5" xmlns="http://www.w3.org/2000/svg" class="destination-menu-mobile__select-arrow">
        <path d="M1 1l3 3 3-3" stroke="#A5B0BA" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>

  <ul class="destination-menu-mobile__list list list--unstyle" data-ref="dropdown-menu[body]" data-active-class="destination-menu-mobile__list--active">
    {% for category in destination_categories %}
      <li class="destination-menu-mobile__item">
        <a class="destination-menu-mobile__link" href="#{{ category | slugify }}" title="{{ category.display_name }}" data-ref="dropdown-menu[link]" >
          {{ category }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
