.gutter {
  $this: &;

  $size: map-get($gutter-sizes, $gutter-size);

  margin-right: -#{$size / 2};
  margin-left: -#{$size / 2};

  & > * {
    padding-right: $size / 2;
    padding-left: $size / 2;
  }

  @each $name, $size in $gutter-sizes {
    @if $name != $gutter-size {
      &--#{$name} {
        margin-right: -#{$size / 2};
        margin-left: -#{$size / 2};

        & > * {
          padding-right: $size / 2;
          padding-left: $size / 2;
        }
      }
    }
  }

  @each $breakpoint, $width in $breakpoint-sizes {
    @include breakpoint($breakpoint up) {
      @each $name, $size in $gutter-sizes {
        &--#{$name}\@#{$breakpoint} {
          margin-right: -#{$size / 2};
          margin-left: -#{$size / 2};

          & > * {
            padding-right: $size / 2;
            padding-left: $size / 2;
          }
        }
      }
    }
  }
}
