.gutter {
  $this: &;

  $size: map-get($gutter-sizes, $gutter-size);

  margin-right: -#{$size * 0.5};
  margin-left: -#{$size * 0.5};

  & > * {
    padding-right: $size * 0.5;
    padding-left: $size * 0.5;
  }

  @each $name, $size in $gutter-sizes {
    @if $name != $gutter-size {
      &--#{$name} {
        margin-right: -#{$size * 0.5};
        margin-left: -#{$size * 0.5};

        & > * {
          padding-right: $size * 0.5;
          padding-left: $size * 0.5;
        }
      }
    }
  }

  @each $breakpoint, $width in $breakpoint-sizes {
    @include breakpoint($breakpoint up) {
      @each $name, $size in $gutter-sizes {
        &--#{$name}\@#{$breakpoint} {
          margin-right: -#{$size * 0.5};
          margin-left: -#{$size * 0.5};

          & > * {
            padding-right: $size * 0.5;
            padding-left: $size * 0.5;
          }
        }
      }
    }
  }
}
