.waffle {
  $this: &;

  $size: map-get($waffle-sizes, $waffle-size);

  margin: -#{$size * 0.5};

  & > * {
    padding: $size * 0.5;
  }

  @each $name, $size in $waffle-sizes {
    @if $name != $waffle-size {
      &--#{$name} {
        margin: -#{$size * 0.5};

        & > * {
          padding: $size * 0.5;
        }
      }
    }
  }

  @each $breakpoint, $width in $breakpoint-sizes {
    @include breakpoint($breakpoint up) {
      @each $name, $size in $waffle-sizes {
        &--#{$name}\@#{$breakpoint} {
          margin: -#{$size * 0.5};

          & > * {
            padding: $size * 0.5;
          }
        }
      }
    }
  }
}
