  <script type="text/javascript">
    (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
    (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
    e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
    })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

    _st('install','dsmQzTck4zz2vQNsXLJW','2.0.0');
  </script>


  <script src="/docs/bundle.js"></script>

  <script type="application/ld+json">
  [
    {
      {{!-- Name --}}
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Segment",
      "url": "https://segment.com"
    }, {
      {{!-- Logo and social links --}}
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Segment",
      "url": "https://segment.com",
      "logo": "https://segment.com/build/public/public/images/touch-icon.png",
      "sameAs": [
        "https://twitter.com/segment",
        "https://www.linkedin.com/company/segment-io"
      ]
    }
  ]
  </script>

  <script src="/docs/consent-manager.js" defer></script>
</body>
</html>
