<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <div id="docs">
      {% include sidenav.html %}
      <main>
        {% include topnav.html %}
        <div id="doc-content">
          {{ content }}
        </div>
      </main>
    </div>
    <script type="text/javascript">
      (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
      (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
      e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
      })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

      _st('install','dsmQzTck4zz2vQNsXLJW','2.0.0');
    </script>
    {% include data-collection-footer.html %}
  </body>
</html>
