---
layout: default
---

<div class="l-doc-container">
  <article id="doc-content">
    {% include breadcrumb.html %}


    {%- if page.title -%}
      <h1 id="{{page.title | downcase}}" class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {%- if page.beta -%}
    {% include content/beta.md %}
    {%- endif -%}

    {{ content }}
  </article>
  {%- unless page.hide_toc -%}
    <div id="doc-toc">
      <div class="l-doc-toc-wrapper">
        <h4>On this page</h4>
        {% include toc.html html=content h_max=2 %}
      </div>
    </div>
  {%- endunless -%}
</div>
