#docs {
  height: 100%;
  width: 100%;
  display: flex;
  display: grid;

  grid-template-columns: minmax($sidenav-width, calc((100% - 1200px) / 2)) 1fr;
}

#docs > main {
  display: flex;
  flex-direction: column;
}

main > footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 60px;
  margin-bottom: 10px;
  margin-right: 30px;
}

footer > #feedback {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

footer > #data-collection {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

footer > #data-collection p {
  margin-bottom: 0;
  margin-right: 10px;
}

footer > #data-collection a {
  margin-left: 10px;
}


#sidenav {
  display: flex;
  flex: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  background-color: $grey-color;
}

#topnav {
  height: $topnav-height;
  border-bottom:  1px solid rgba(67, 90, 111, 0.2);
  padding-left: $content-padding;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

#doc-content {
  background: $background-color;
  height: 100%;
  min-width: 950px;
  max-width: $content-width;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}


#doc-toc {
  padding-left: 44px;
  min-width: $sidenav-width - 50px;
}

#consent-manager {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}


.l-sidenav-wrapper {
  margin: 0;
  margin-top: 15px;
  position: absolute;
  left: calc(100% - 280px);
  right: 0;
  padding: 0 33px;
}

.l-sidenav-wrapper > .logo {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  font-weight: 500;
  a {
    height: 35px;
    margin-right: 10px;
  }
  svg {
    height: inherit;
  }
}

.l-sidenav-wrapper > ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 25px;
  overflow: hidden;

  > li.back  {
    margin-bottom: $spacing-unit / 4;
    margin-left: -5px;
    a {
      display: flex;
      align-items: center;
      color: $text-color;
      font-weight: normal;

      > img {
        margin-right: 5px;
        opacity: 0.5;
      }
    }
  }

  > li.heading {
    font-weight: 500;
    opacity: 1;
  }
}

.l-sidenav-wrapper  li {
  display: flex;
  margin-bottom: $spacing-unit / 2;
  flex-direction: column;
  color: $text-color;
  img {
    height: 18px;
    width: 18px;
    margin-right: 12px;
  }

  > div:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:not(.section) {
    a:not(.active), div {
      opacity: 0.8;
    }
  }
}

.l-sidenav-wrapper li > ul.l-sidenav-subnav {
  margin-left: 30px;
  li, a {
    font-weight: normal;
  }

  a.active {
    color: $brand-color;
  }
}

.l-sidenav-wrapper li.section > div,
.l-sidenav-wrapper li.section > a {
  color: $text-color;
  font-weight: 500;
  display: flex;
  align-items: center;

}

.l-sidenav-wrapper a {
  color: $text-color;
  &.active {
    color: $brand-color;
  }
}

.l-sidenav-subnav {
  display: none;
  margin-top: $spacing-unit / 2;
}

.l-sidenav-subnav > li {
  margin-bottom: $spacing-unit / 2;
  font-weight: normal;
  color: $text-color;
}

.l-sidenav-subnav div {
  display: flex;
  align-items: center;
  img {
    height: 12px;
    width: 12px;
  }
}

.l-sidenav-collapsible > div {
  img.collapsed {
    display: block;
  }
  img.expanded {
    display: none;
  }
}

.l-sidenav-collapsible.expanded {
  > .l-sidenav-subnav {
    display: block;
  }

  > div {
    img.collapsed {
      display: none;
    }

    img.expanded {
      display: block;
    }
  }
}


.l-sidenav-wrapper > .l-fixed-sidenav-section:only-of-type {
  border: 0;
  padding: 0;
  max-width: initial;
}

.l-fixed-sidenav-section {
  border-top: 1px solid $text-color;
  padding-top: 25px;
  max-width: 150px;

  li {
    display: flex;
    align-items: center;
    flex-direction: row;

    ul {
      margin-left: 28px;
    }

    &:not(.section) a {
      color: $text-color;
      font-weight: normal;
    }

    a.active  {
      color: $brand-color;
    }
  }
}

.page-heading {
  font-size: 32px;
}

.l-breadcrumb-wrapper {
  display: flex;
  margin-left: -5px;
  color: $text-color-breadcrumb;
}

.l-breadcrumb-wrapper a {
  color: $text-color-breadcrumb;
  padding: 0 5px;
}

.l-doc-container {
  display: flex;
  flex: 0;
  margin-left: $content-padding;
  margin-top: 25px;
}

.l-doc-toc-wrapper {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 60px;
  top: 81px;
  color: $text-color-grey;
}

.l-doc-toc-wrapper > p {
  text-transform: uppercase;
  font-weight: normal;
}

.l-doc-toc-wrapper > ul, li > ul {
  list-style-type: none;
  margin: 0;
}

.l-doc-toc-wrapper li {
  margin-bottom: $spacing-unit / 3;
  ul {
    margin-top: $spacing-unit / 3;
  }
}

.l-doc-toc-wrapper a {
  color: $text-color-grey;
  &.active {
    color: $brand-color;
  }
}

.l-block-grid-collection {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 2 * ($spacing-unit / 3);
  margin-bottom: $grid-gutter-unit * -1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: $grid-gutter-unit * -1;
}

.l-block-grid-collection > .block-grid-item {
  display: flex;
  align-items: center;
  color: $text-color;
  width: $grid-gutter-unit * 13;
  height: 84px;
  padding: 22px $grid-gutter-unit;
  padding-right: $grid-gutter-unit;
  margin-bottom: $grid-gutter-unit;
  margin-left: $grid-gutter-unit;
  border-radius: $border-radius-unit;
  box-shadow: $elevated-shadow;
  text-decoration: none;
  transition: 0.1s;
  &:hover {
    box-shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 8px 10px -4px;
  }
}

.block-grid-item > .logo {
  flex: 1 0 auto;
  height: 64px;
  background-color: $secondary-color;
  width: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-grid-item > .content {
  margin-left: 18px;
  .title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .description {
    margin-bottom: 0;
  }
}

.l-topnav-search  {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1;
}

.l-topnav-search > img {
  margin-right: 10px;
  opacity: 0.5;
}

.l-topnav-search > input {
  width: 100%;
  height: inherit;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

.l-topnav-links {
  display: flex;
  justify-content: flex-end;
}

.l-topnav-links > a {
  margin-right: 30px;
}



.Page-footer {
  text-align: center;
  display: flex;
  width: 75%;
  align-self: flex-start;
}

.Page-feedback-card {
  padding: 1rem;
  width: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(217, 227, 237);
  border-radius: 8px;
}

.feedback-btn {
  margin: 0px 5px;
}

.feedback-btn,
.feedback-btn input {
  cursor: pointer;
}

.feedback-btn-label {
  margin: 0px 5px;
}

.l-chiclet-collection {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 2 * ($spacing-unit / 3);
  margin-bottom: $grid-gutter-unit * -1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: ($grid-gutter-unit + 10px) * -1;
}

.l-chiclet-collection > .chiclet-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
  color: $text-color;
  width: 185px;
  height: 185px;
  padding: 40px 10px 20px;
  margin-bottom: $grid-gutter-unit;
  margin-left: $grid-gutter-unit + 10px;
  border-radius: $border-radius-unit;
  box-shadow: $elevated-shadow;
  text-decoration: none;
  transition: 0.1s;
  &:hover {
    box-shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 8px 10px -4px;
  }

  &.centered {
    justify-content: center;
  }
}

.chiclet-item > .logo {
  max-width: 100px;
  height: 32px;
  img {
    width: 100%;
    height: 100%;
  }
}

.chiclet-item > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  box-sizing: border-box;
  .title {
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 150px;
    height: 28px;
  }
  .category {
    background-color: $grey-color;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
  }
}
