#docs {
  height: 100%;
  width: 100%;
  display: flex;
  display: grid;

  grid-template-columns: minmax($sidenav-width, calc(50% - 405px)) 1fr;
  grid-template-columns: minmax($sidenav-width, calc((100% - 1200px) / 2)) 1fr;
}

#docs > main {
  display: flex;
  flex-direction: column;
}

#sidenav {
  display: flex;
  flex: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  min-width: $sidenav-width;
  background-color: $grey-color;
}

#topnav {
  height: $topnav-height;
  border-bottom:  1px solid rgba(67, 90, 111, 0.2);
  padding: 0px 30px;
  padding-left: $content-padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

#doc-content {
  background: $background-color;
}

#doc-content {
  overflow-x: visible;
  width: $content-width;
  display: flex;
  flex-direction: column
}


#doc-toc {
  padding-left: 44px;
  min-width: $sidenav-width - 50px;
}

.l-sidenav-wrapper {
  padding: 0 44px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 15px;
  overflow-y: scroll;
}

.l-sidenav-wrapper > .logo {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  font-weight: 500;
  a {
    height: 35px;
    margin-right: 10px;
  }
  svg {
    height: inherit;
  }
}

.l-sidenav-wrapper > ul {
  list-style: none;
  border-bottom: 1px solid $text-color;
  margin-left: 0;
  margin-bottom: 25px;
  padding-bottom: 25px;
  &:last-child {
    border: 0;
  }
}

.l-sidenav-wrapper  li {
  margin-bottom: $spacing-unit / 2;
  &:last-child {
    margin-bottom: 0;
  }
}

.l-sidenav-wrapper li {
  display: flex;
  flex-direction: column;
  color: $text-color;
  font-weiyyght: 500;
  img {
    height: 18px;
    width: 18px;
    margin-right: 10px;
  }
  
  > div:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.l-sidenav-wrapper li > ul.l-sidenav-subnav {
  margin-left: 28px;
  li, a {
    font-weight: normal;
    color: $text-color-breadcrumb;
  }
}

.l-sidenav-wrapper li.section > div, 
.l-sidenav-wrapper li.section > a {
  color: $text-color;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.l-sidenav-subnav {
  display: none;
  margin-top: $spacing-unit / 2;
}

.l-sidenav-subnav > li {
  margin-bottom: $spacing-unit / 2;
  font-weight: normal;
  color: $text-color-breadcrumb;
}

.l-sidenav-subnav > li > div {
  display: flex;
  align-items: center;
  img {
    height: 12px;
    width: 12px;
  }
}

.l-sidenav-subnav:not(.section) {
  img {
    margin-left: -21px;
  }
  img.collapsed {
    display: block;
  }
  img.expanded {
    display: none;
  }
}

.l-sidenav-collapsible {
}

.l-sidenav-collapsible.expanded > .l-sidenav-subnav {
  display: block;
}

.l-sidenav-subnav > .l-sidenav-collapsible.expanded {
  img.collapsed {
    display: none;
  }
  
  img.expanded {
    display: block;
  }
}

.page-heading {
  font-size: 32px;
}

.l-breadcrumb-wrapper {
  display: flex;
  margin-bottom: 32px;
  margin-left: -5px;
  color: $text-color-breadcrumb;
}

.l-breadcrumb-wrapper a {
  color: $text-color-breadcrumb;
  padding: 0 5px;
}

.l-doc-container {
  display: flex;
  flex: 0;
  margin-left: $content-padding;
  margin-top: 25px;
}

.l-doc-toc-wrapper {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 60px;
  top: 81px;
  color: $text-color-grey;
}

.l-doc-toc-wrapper > h4 {
  text-transform: uppercase;
}

.l-doc-toc-wrapper > ul {
  list-style-type: none;
  margin: 0;
}

.l-doc-toc-wrapper li {
  margin-bottom: $spacing-unit / 3;
}

.l-doc-toc-wrapper a {
  color: $text-color-grey;
}

.l-block-grid-collection {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 2 * ($spacing-unit / 3);
  margin-bottom: $grid-gutter-unit * -1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: $grid-gutter-unit * -1;
}

.l-block-grid-collection > .block-grid-item {
  display: flex;
  align-items: center;
  color: $text-color;
  width: $grid-gutter-unit * 13;
  height: 84px;
  padding: 22px $grid-gutter-unit;
  padding-right: $grid-gutter-unit;
  margin-bottom: $grid-gutter-unit;
  margin-left: $grid-gutter-unit;
  border-radius: $border-radius-unit;
  box-shadow: $elevated-shadow;
  text-decoration: none;
}

.block-grid-item > .logo {
  flex: 1 0 auto;
  height: 64px;
  background-color: $secondary-color;
  width: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-grid-item > .content {
  margin-left: 18px;
  .title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .description {
    margin-bottom: 0;
  }
}

.l-topnav-search  {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1;
}

.l-topnav-search > img {
  margin-right: 10px;
  opacity: 0.5;
}

.l-topnav-search > input {
  width: 100%;
  height: inherit;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

.l-topnav-links {
  display: flex;
  justify-content: flex-end;
}

.l-topnav-links > a {
  margin-left: 30px;
}