#docs {
  height: 100%;
  width: 100%;
  display: flex;
  display: grid;

  grid-template-columns: minmax(252px, calc(50% - 405px)) 1010px 1fr;
  grid-template-columns: minmax(252px, calc((100% - 1262px) / 2 + 226px)) 1010px 1fr;
}

#sidenav {
  display: flex;
  flex: 0;
  flex-grow: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  margin-right: $content-padding;
  background-color: $grey-color;
}

#doc-content {
  overflow-x: visible;
  min-width: $content-width - 10;
}

#doc-toc {
  padding-left: 44px;
  min-width: $content-width / 5;
}

.l-breadcrumb-wrapper {
  display: flex;
  margin-top: 25px;
  margin-bottom: 32px;
  margin-left: -5px;
  color: $text-color-breadcrumb;
}

.l-breadcrumb-wrapper a {
  color: $text-color-breadcrumb;
  padding: 0 5px;
}

.l-docs-wrapper {
  outline: none;
  display: flex;
  background: $background-color;
}

.l-doc-toc-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 81px;
  color: $text-color-grey;
}

.l-doc-toc-wrapper > h4 {
  text-transform: uppercase;
}

.l-doc-toc-wrapper > ul {
  list-style-type: none;
  margin: 0;
}

.l-doc-toc-wrapper li {
  margin-bottom: $spacing-unit / 3;
}

.l-doc-toc-wrapper a {
  color: $text-color-grey;
}

.l-block-grid-collection {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 2 * ($spacing-unit / 3);
  margin-bottom: $grid-gutter-unit * -1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: $grid-gutter-unit * -1;
}

.l-block-grid-collection > .block-grid-item {
  display: flex;
  align-items: center;
  color: $text-color;
  width: $grid-gutter-unit * 14;
  height: 84px;
  padding: 22px $grid-gutter-unit;
  margin-bottom: $grid-gutter-unit;
  margin-left: $grid-gutter-unit;
  border-radius: $border-radius-unit;
  box-shadow: $elevated-shadow;
  text-decoration: none;
}

.block-grid-item > .logo {
  flex: 1 0 auto;
  height: 64px;
  background-color: $secondary-color;
  width: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-grid-item > .content {
  margin-left: 18px;
  .title {
    margin-bottom: 10px;
  }

  .description {
    margin-bottom: 0;
  }
}
