# This is a basic workflow to help you get started with Actions

name: CheckLinks
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  checklinks:
    name: Linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.7.7
        bundler-cache: true
      # - name: Setup Rubygems, Bundler, jekyll
      #   run: | 
      #     gem update --system --no-document
      #     gem update bundler --no-document
      #     gem install jekyll bundler
      #     bundle install
      - name: Build jekyll website
        run: bundle exec jekyll build
      - name: Check for broken links
        run: |
          bundle exec htmlproofer --checks_to_ignore ScriptCheck,ImageCheck  --only_4xx --log-level :debug ./_site/utils/env/index.html &> links.log
        continue-on-error: true
      - name: Archive log links
        uses: actions/upload-artifact@v1
        with:
          name: links-check.log
          path: links.log
